{embed="_includes/header"}

<div id="cover" class="bg-img">
	<div class="container">
		<div class="grid_12">
			<h1>you are welcome <span>Here</span></h1>
		</div>
	</div>
	<div class="clear"></div>

	<video autoplay loop muted id="cover-video" class="bg-video">
		<source src="/Welcome video_with edits.mp4" type="video/mp4">
	</video>
</div>

<div id="who-location" class="entry">
	<div class="container">
		<div id="who-are-we" class="grid_6">
			<h1>Who are we?</h1>
			<p>JourneyChurch is a <strong>house</strong> where God is honored, where prayers are answered, hearts are mended and lives are changed.<br><br> {!--We are a <strong>house</strong> committed to transforming our cities... one life at a time. A <strong>house</strong> that uses creativity to point people to the Creator. A <strong>house</strong> that believes the God of generations past is the answer for the next generation.<br><br> The people of this <strong>house</strong> gather to build healthy relationships and have a blast together. And the highest calling of our house is to worship the God of the universe. The King of kings. The Lord of lords. We are a <strong>house</strong>. We are JourneyChurch.--}</p>
			<a href="/about"><div class="button">Learn More About Us</div></a>
		</div>

		<div id="home-locations" class="grid_6">
			<h1>Locations & Times</h1>
			<a href="#header" id="location-time-icon" class="active location-icon"><i class="fa fa-clock-o"></i></a>
			<a href="#header" id="location-address-icon" class="location-icon"><i class="fa fa-map-marker"></i></a>
			<a href="#header" id="location-phone-icon" class="location-icon"><i class="fa fa-phone"></i></a>
			<a href="#header" id="location-email-icon" class="location-icon"><i class="fa fa-envelope-o"></i></a>

			<div id="location-info">
				{exp:channel:entries channel="location"}
				<div id="location-time" class="location-info-entry">
					<h3>{title}</h3> <p>{location-times}</p>
				</div>

				<div id="location-address" class="location-info-entry">
					<h3>{title}</h3> <p>Address | <a href="{location-directions}" target="_blank">{location-address}</a></p>
				</div>

				<div id="location-phone" class="location-info-entry">
					<h3>{title}</h3> <p>Phone | <a href="tel:{location-phone}">{location-phone}</a></p>
				</div>

				<div id="location-email" class="location-info-entry">
					<h3>{title}</h3> <p>Email | <a href="mailto:{location-email}">{location-email}</a></p>
				</div>
				{/exp:channel:entries}
			</div>
		</div>
	</div>

	<div class="clear"></div>

	</div>
</div>

<div class="entry-shade">
	<div id="boxes">
		<div id="boxes-captions" class="container">
			<div class="grid_12"><h1>Get Connected</h1></div>
			<div class="grid_4 caption">
				<a href="/media"><div id="caption-image-1" class="caption-image"></div></a>
				<div id="caption-1" class="caption-description"><h4>Watch Our Latest Message</h4><p>Watch our latest message from the mystery series!</p></div>
			</div>
			<div class="grid_4 caption">
				<a href="/about"><div id="caption-image-2" class="caption-image"></div></a>
				<div id="caption-2" class="caption-description"><h4>New to JourneyChurch?</h4><p>If you are new to JourneyChurch, welcome! You can learn more JourneyChurch here!</p></div>
			</div>
			<div class="grid_4 caption">
				<a href="/groups"><div id="caption-image-3" class="caption-image"></div></a>
				<div id="caption-3" class="caption-description"><h4>Get Plugged Into Life Groups!</h4><p>Get plugged into a life group!</p></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="clear"></div>
</div>

<div id="home-ministries" class="entry">
	<div class="container">
		<h1>We Have A Ministry For You</h1><br><br>
		<div id="college-ministry" class="grid_4 ministry">
			<a href="/college"><div id="college-ministry-photo" class="ministry-image"><img src="/_img/ministries/college.jpg"/></div></a>
			<h3>College</h3>
		</div>

		<div id="sj-ministry" class="grid_4 ministry">
			<a href="/student"><div id="sj-ministry-photo" class="ministry-image"><img src="/_img/ministries/student.jpg"/></div></a>
			<h3>Student</h3>
		</div>

		<div id="kids-ministry" class="grid_4 ministry">
			<a href="/kids"><div id="kids-ministry-photo" class="ministry-image"><img src="/_img/ministries/kids.jpg"/></div></a>
			<h3>Kids</h3>
		</div>

		<div class="clear"></div>

		<div class="center"><a href="/ministries"><div class="button">More Ministries</div></a></div>
	</div>
	<div class="clear"></div>
</div>

<div id="home-events-wrapper" class="bg-img">
	<div class="container entry">
		<div id="home-events" class="grid_6">
			<h1>Events</h1>
			<h2>Events happening today</h2>
			<h3>This is an event</h3>
			<p>Hello this is an event happening on this date at this time</p>
		</div>

		<div id="home-latest" class="grid_6">
			<h1>News | Updates</h1>
			{exp:channel:entries channel="Latest" orderby="date" sort="desc"}
				<div class="latest-entry">
					<h3>{if latest-link}<a href="{latest-link}">{/if}{title}{if latest-link}</a>{/if}</h3>
					{if latest-body}
						<p>{latest-body}</p>
					{/if}
				</div>
			{/exp:channel:entries}
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>

<script>
	$(document).ready(function() {
		$('#location-time-icon').click(function() {
			$('.location-icon').removeClass('active');
			$(this).addClass('active');

			$('.location-info-entry').css('display', 'none');
			$('#location-time').fadeIn('fast');
		});

		$('#location-address-icon').click(function() {
			$('.location-icon').removeClass('active');
			$(this).addClass('active');

			$('.location-info-entry').css('display', 'none');
			$('#location-address').fadeIn('fast');
		});

		$('#location-phone-icon').click(function() {
			$('.location-icon').removeClass('active');
			$(this).addClass('active');

			$('.location-info-entry').css('display', 'none');
			$('#location-phone').fadeIn('fast');
		});

		$('#location-email-icon').click(function() {
			$('.location-icon').removeClass('active');
			$(this).addClass('active');

			$('.location-info-entry').css('display', 'none');
			$('#location-email').fadeIn('fast');
		});
	});
</script>

{embed="_includes/footer"}
