{embed="_includes/header"}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&sensor=true"></script>

<div id="cover">
	<div class="container">
		<div class="grid_12">
			<h1>Welcome to JourneyChurch.tv</h1>
			<h2>Our Vision - To see cities transformed, one life at a time</h2>
			{!--<h2><a href="/about"><div class="button">Learn About Us</div></a></h2>--}
		</div>
	</div>
	<div class="clear"></div>
</div>

<div id="locations" class="entry">
	<div class="container">
		<div class="grid_12">
			<h1>Locations & Times</h1>
		</div>
		<div class="grid_6">
			<h2>Norman Campus</h2>
			<p><i class="fa fa-clock-o"></i>    Sunday - 8:30, 10:00 & 11:30 AM, 6:00 PM<br><br>
	 			<i class="fa fa-map-marker"></i>    3801 Journey Parkway, Norman, OK 73072<br><br>
	 			<i class="fa fa-phone"></i>    <a href="tel:405-217-8700">405-217-8700</a><br><br>
	 			<i class="fa fa-envelope-o"></i>    <a href="mailto:norman@journeychurch.tv">NORMAN@JourneyChurch.tv</a>
			</p>

			<a href="#locations"><div class="button">Get Directions</div></a>
		</div>
		<div class="grid_4 push_2"><img src="/_img/normancampus.jpg"></div>
	</div>
	<div class="clear"></div>
</div>

<div id="map"></div>

<div id="connect">
	<div id="connect-background"></div>
	<div id="connect-captions" class="container">
		<div class="grid_4 caption">
			<a href="/media"><div id="caption-image-1" class="caption-image"></div></a>
			<div id="caption-1" class="caption-description"><h4>Watch Our Latest Message</h4><p>Watch our latest message from the mystery series!</p></div>
		</div>
		<div class="grid_4 caption">
			<a href="/about"><div id="caption-image-2" class="caption-image"></div></a>
			<div id="caption-2" class="caption-description"><h4>New to JourneyChurch?</h4><p>If you are new to JourneyChurch, welcome! You can learn more JourneyChurch here!</p></div>
		</div>
		<div class="grid_4 caption">
			<a href="/groups"><div id="caption-image-3" class="caption-image"></div></a>
			<div id="caption-3" class="caption-description"><h4>Get Plugged Into Life Groups!</h4><p>Get plugged into a life group!</p></div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div id="ministries" class="entry">
	<div class="container">
		<h1>We Have A Ministry For You</h1><br><br>
		<div id="college-ministry" class="grid_4 ministry">
			<a href="/college"><div id="college-ministry-photo" class="ministry-image"><img src="/_img/ministries/college.jpg"/></div></a>
			<h3>College</h3>
		</div>

		<div id="sj-ministry" class="grid_4 ministry">
			<a href="/student"><div id="sj-ministry-photo" class="ministry-image"><img src="/_img/ministries/student.jpg"/></div></a>
			<h3>Student</h3>
		</div>

		<div id="kids-ministry" class="grid_4 ministry">
			<a href="/kids"><div id="kids-ministry-photo" class="ministry-image"><img src="/_img/ministries/kids.jpg"/></div>
			<h3>Kids</h3>
		</div>
		<div class="clear"></div>
		<div class="center"><a href="/ministries"><div class="button">More Ministries</div></a></div>
	</div>
	<div class="clear"></div>
</div>

<div id="events">
	<div class="container">

	</div>
	<div class="clear"></div>
</div>

<script type="text/javascript">
  var locations = [
  		{exp:channel:entries channel="location"}
        	['<h2>{title}</h2><p>{location-times}</p><p>{location-phone}</p>', '{location-lat}', '{location-long}', 4],
		{/exp:channel:entries}
      ];
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: new google.maps.LatLng(35.3105644, -97.4944153),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
				scrollwheel: false
      });
      var infowindow = new google.maps.InfoWindow();
      var marker, i;
      var markers = new Array();
      for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });
        markers.push(marker);
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          };
		  setTimeout(function(){$("img[src$='iws3.png']").hide();},80);
        })(marker, i));
      }
      function AutoCenter() {
        //  Create a new viewpoint bound
        var bounds = new google.maps.LatLngBounds();
        //  Go through each...
        $.each(markers, function (index, marker) {
       		bounds.extend(marker.position);
        });
        //  Fit these to the map
        map.fitBounds(bounds);
      }
      //AutoCenter();
      map.panTo(marker.getPosition());

			var styles = [
		  {
		    stylers: [
		      { hue: "#006f7c" },
		      { saturation: -20 }
		    ]
		  },{
		    featureType: "road",
		    elementType: "geometry",
		    stylers: [
		      { lightness: 100 },
		      { visibility: "simplified" }
		    ]
		  },{
		    featureType: "road",
		    elementType: "labels",
		    stylers: [
		      { visibility: "off" }
		    ]
		  }
		];

		map.setOptions({styles: styles});

		$(document).ready(function() {
			$('#locations .button').click(function() {
				$('#map').animate({
					opacity:'1'
				});

				});
			});
		});
</script>

{embed="_includes/footer"}
