{embed="_includes/header"}

<div class="cover">
	<div class="container">
		<h1>Welcome to JourneyChurch.tv</h1>
		<h2>Our Vision - To see cities transformed, one life at a time</h2>
	</div>
</div>

<div class="clear"></div>

<div class="container">
	<div class="grid_12 location">
		<h1>Locations & Times</h1>
	</div>
	<div class="grid_6">
		<h2>Norman Campus</h2>
		<p><i class="fa fa-clock-o"></i>    Sunday - 8:30, 10:00 & 11:30 AM, 6:00 PM<br><br>
 			<i class="fa fa-map-marker"></i>    3801 Journey Parkway, Norman, OK 73072 (get directions)<br><br>
 			<i class="fa fa-phone"></i>    <a href="tel:405-217-8700">405-217-8700</a><br><br>
 			<i class="fa fa-envelope-o"></i>    <a href="mailto:norman@journeychurch.tv">NORMAN@JourneyChurch.tv</a>
		</p>
	</div>
	<div class="grid_4 push_2 circle"><img src="/_img/normancampus.jpg"></div>
	<div class="clear"></div>
</div>

<div class="clear"></div>

{embed="_includes/footer"}
