<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">

		<title>Stories Admin</title>

		<!-- Fonts -->
		<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/688704/css/fonts.css" />

		<!-- Font Icons -->
		<link rel="stylesheet" href="/_css/font-awesome.css" type='text/css'>

		<!-- Stylesheets -->
		<link rel="stylesheet" href="/_css/stories/normalize.css">
		<link rel="stylesheet" href="/_css/stories/base.css">
		<link rel="stylesheet" href="/_css/stories/grid.css">
		<link rel="stylesheet" href="/_css/stories/style.css">

		<link rel='stylesheet' media='screen and (max-width: 995px)' href='/_css/stories/tablet.css' />
		<link rel='stylesheet' media='screen and (max-width: 767px)' href='/_css/stories/mobile.css' />
		<link rel='stylesheet' media='screen and (max-width: 479px)' href='/_css/stories/mobile-portrait.css' />

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	</head>
  <body id="admin">
		{if logged_in}
	    <header>
	      <div id="admin-logo"></div>
				<button id="save">Save</button>

				<div class="clear"></div>
	    </header>

			<div id="admin-header-filler"></div>

			<div id="admin-main">
				<div class="container">
					<ul id="stories-feed">
						<?php
							require_once($_SERVER['DOCUMENT_ROOT'].'/_scripts/stories_connect.php');

							$result = mysqli_query($con, "SELECT * FROM stories ORDER BY 'Sorting Index'");

							while ($row = mysqli_fetch_assoc($result)) {
								$id = $row['ID'];
								$name = $row['Name'];
								$find = $row['Find'];
								$email = $row['Email'];
								$story = $row['Story'];

								$timestamp = $row['Date'];
								$date = date('M j Y', strtotime($timestamp));

						    echo "
								<li id='story-$id'>
									<div class='story-row-header'>
										<div class='story-row-date'>" . $date . "</div>
										<div class='story-row-handle'><i class='fa fa-bars'></i></div>
										<div class='story-row-remove'><i class='fa fa-trash-o'></i></div>

										<div class='clear'></div>
									</div>

									<div class='story-row'>
										<div class='grid_2'>
											<div class='pad'>" . $name . "</div>
										</div>

										<div class='grid_3'>
											<div class='pad'>" . $find . "</div>
										</div>

										<div class='grid_4'>
											<div class='pad'>" . $story . "</div>
										</div>

										<div class='grid_3'>
											<div class='pad'>
												<a href='mailto:'.$email>" . $email . "</a>
											</div>
										</div>

										<div class='clear'></div>
									</div>
								</li>";
							}

							mysqli_close($con);
						?>
					</ul>
				</div>

				<div class='clear'></div>
			</div>

			<script>
				$(document).ready(function () {
					$('#stories-feed').sortable({
						containment: 'parent',
						tolerance: 'pointer',
						cursor: 'pointer',
						handle: '.story-row-handle',
						revert: true
					});

					$('#save').click(function() {
						var ids = $('#stories-feed').sortable('toArray');

						for(var i = 0; i < ids.length; ++i) {
							ids[i] = ids[i].substring(6, ids[i].length);
						}

						$.ajax({
							type: 'POST',
							url: '/_scripts/stories_admin_update.php',
							data: {
								id : ids
							},
							success: function(data) {
								alert(data);
							}
						});
					});
				});
				</script>
		{if:elseif logged_out}
      <div id="admin-login">
				<div class="container">
					<div class="grid_12">
						<h1>Please Login as a Stories Admin</h1>
					</div>

					<div class="clear"></div>
				</div>
			</div>
    {/if}
  </body>
</html>
