<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">

		<title>Stories Admin</title>

		{!-- Stylesheets --}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" href="/_css/stories/admin.css" type='text/css'>

		{!-- Fonts --}
		<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/688704/css/fonts.css" />

		{!-- Font Icons --}
		<link rel="stylesheet" href="/_css/font-awesome.css" type='text/css'>

		{!-- JQuery --}
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		{!-- Latest compiled and minified JavaScript --}
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
  <body id="admin">
		{if logged_in}
			<header id="admin-header">
				<div class="container-fluid">
					<div class="col-sm-12">
						<button id="save" class="btn btn-default">Save</button>
					</div>
				</div>
			</header>

			<div class="header-filler"></div>

			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-3">
						<div id="admin-sidebar">
							<div class="pad">
								<form>
									<input type="checkbox" name="marriage"> Marriage<br>
								  <input type="checkbox" name="addiction"> Addiction<br>
									<input type="checkbox" name="adoption"> Adoption<br>
									<input type="checkbox" name="death"> Death/Lost<br>
									<input type="checkbox" name="financial"> Financial<br>
									<input type="checkbox" name="parenting"> Parenting<br>
									<input type="checkbox" name="family"> Family<br>
									<input type="checkbox" name="reconciliation"> Reconciliation<br>
									<input type="checkbox" name="doubt"> Doubt<br>
									<input type="checkbox" name="religion"> Religion<br>
									<input type="checkbox" name="missions"> Missions<br>
									<input type="checkbox" name="persecution"> Persecution<br>
									<input type="checkbox" name="redemption"> Redemption<br>
									<input type="checkbox" name="dissapointment"> Dissapointment<br>
									<input type="checkbox" name="love"> Love<br>
									<input type="checkbox" name="prophecy"> Prophecy<br>
									<input type="checkbox" name="healing"> Healing<br>
									<input type="checkbox" name="apathy"> Apathy<br>
									<input type="checkbox" name="synnacism"> Synnacism<br>
									<input type="checkbox" name="bitterness"> Bitterness<br>
									<input type="checkbox" name="forgiveness"> Forgiveness<br>
									<input type="checkbox" name="anger"> Anger<br>
								  <button class="btn btn-default" type="submit"></button>
								</form>

								<button id="filter-categories" class="btn btn-default"></button>
								<button id="add-category" class="btn btn-default"></button>
							</div>
						</div>
					</div>

					<div id="admin-main" class="col-sm-9"></div>

					<div class="clearfix"></div>
				</div>
			</div>

			<script>
				$(document).ready(function () {
					$.ajax({
						type: 'POST',
						url: '/_scripts/stories/get_stories.php',
						success: function(data) {
							$("#admin-main").html(data);
						}
					});

					$("#admin-main").css("min-height", $(window).height()-$("header").outerHeight());


					/*$('#save').click(function() {
						var ids = [];
						var remove = [];
						var categories = [];

						$('.story').each(function () {
								var id = this.id;
								var hashId = '#' + id;

								if ($(hashId).hasClass("remove")) {
									remove.push(1);
								}
								else {
									remove.push(0);
								}

								ids.push(id.substring(6, id.length));

								var empty = $(hashId+' .categories').is(':empty');

								if(!empty) {
									var categoryArray = [];

									$(hashId+' .category').each(function() {
										categoryArray.push($(this).text().toLowerCase());
									});

									categories.push({
										categories : categoryArray,
										id : id
									});
								}
						});

						$.ajax({
							type: 'POST',
							url: '/_scripts/stories/stories_admin_update.php',
							data: {
								ids : ids,
								remove : remove,
								categories : categories
							},
							success: function(data) {
								alert(data);
								window.location.reload();
							}
						});
					});*/
				});
				</script>
		{if:elseif logged_out}
      <div id="admin-login">
				<div class="container-fluid">
					<div class="col-sm-12">
						<h1>Please Login as a Stories Admin</h1>
					</div>
				</div>
			</div>
    {/if}
  </body>
</html>
