<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">

		<meta name="description" content="Share a story about how your life has been changed">
		<meta name="keywords" content="Stories Jesus Life Change Journey Church Norman OK">

		<title>Stories - What's Your Story?</title>

		{!-- Stylesheets --}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" href="/_css/jquery.fullPage.css" type='text/css'>
		<link rel="stylesheet" href="/_css/stories/style.css" type='text/css'>

		{!-- Fonts --}
		<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/688704/css/fonts.css" />

		{!-- Font Icons --}
		<link rel="stylesheet" href="/_css/font-awesome.css" type='text/css'>
	</head>
	<body>
		<header>
			<p>Thank You For Sharing You Story. Our Stories Team Will Be In Touch</p>
		</header>

		<div id="fullpage">
			<form id="stories-form">
				<section id="cover" class="section bg-img text-center">
					<div class="inner">
						<div class="container">
							<div class="col-sm-8 col-sm-offset-2">
								<h1>Stories</h1>
								<h3 class="text-uppercase light">They Change Us</h3>
							</div>
						</div>
					</div>
				</section>

				<section id="vid" class="section">
					<div class="container">
						<div class="col-sm-10 col-sm-offset-1">
							<div class="vid-responsive"><iframe id="stories-vid" src="http://www.youtube.com/embed/Ah0uydqMYhE?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen></iframe></div>
						</div>
					</div>
				</section>

				<section id="intro" class="section bg-img text-center">
					<div class="container">
						<div class="col-sm-12">
							<p>It is a wonderful thing to remember God’s handiwork in our lives, to trace His fingerprints across the details of our faith.</p><br>
							<p>As we move through each season in life we strive to live each moment, each day. Those days define and mold us. They become our milestones for reminding us to keep on. They are the stories of our lives; the testimonies of Christ’s work in finishing our faith.</p><br>
							<p>Stories can encourage those who hear them; they discover they’re not alone. The foundation of their faith is strengthened, and they are emboldened to deepen that faith.</p><br>
							<p>As a church we want to give you the opportunity to encourage others through your story</p><br>
						</div>
					</div>
				</section>

				<section id="name" class="section bg-img text-center">
					<div class="container">
						<div class="col-sm-8 col-sm-offset-2">
							<label for="name">My name is…</label><br>
							<input name="name" type="text" placeholder="First Last" required="required" maxlength="70" form="stories-form" class="light"/><br>
						</div>
					</div>
				</section>

				<section id="beginning" class="section text-center">
					<div class="container">
						<div class="col-sm-8 col-sm-offset-2">
							<label for="beginning">Where does your story begin? Describe that season…</label><br>
							<textarea name="beginning" rows="5" maxlength="800" required="required" form="stories-form" class="light"></textarea><br>
						</div>
					</div>
				</section>

				<section id="persevered" class="section bg-img text-center">
					<div class="container">
						<div class="col-sm-8 col-sm-offset-2">
							<label for="persevered">Can you further describe how you persevered during that season?</label><br>
							<textarea name="persevered" rows="5" maxlength="800" required="required" form="stories-form" class="light"></textarea><br>
						</div>
					</div>
				</section>

				<section id="growth" class="section bg-img text-center">
					<div class="container">
						<div class="col-sm-8 col-sm-offset-2">
							<label for="growth">In the timeline of your story, how have you changed? Where were you before? Where are you now?</label><br>
							<textarea name="growth" rows="5" maxlength="800" required="required" form="stories-form" class="light"></textarea><br>
						</div>
					</div>
				</section>

				<section id="thanks" class="section bg-img text-center">
					<div class="container">
						<div class="col-sm-8 col-sm-offset-2">
							<label for="thanks">How would you thank God for His provision and/or guidance during this time?</label><br>
							<textarea name="thanks" rows="5" maxlength="800" required="required" form="stories-form" class="light"></textarea><br>
						</div>
					</div>
				</section>

				<section id="email" class="section bg-img text-center">
					<div class="container">
						<div class="col-sm-8 col-sm-offset-2">
							<label for="email">Our stories team wants to meet you</label><br>
							<input name="email" type="email" placeholder="person@email.com" required="required" maxlength="55" form="stories-form" class="light"/><br>
						</div>
					</div>
				</section>

				<section id="share" class="section bg-img text-center">
					<div class="container">
						<div class="col-sm-8 col-sm-offset-2">
							<button type="submit" name="submit" form="stories-form" class="btn btn-default btn-block">Share My Story</button>
						</div>
					</div>
				</section>
			</form>
		</div>

		{!-- Jquery --}
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		{!-- Validation --}
		<script type="text/javascript" src="/_js/jquery.validate.js"></script>

		{!-- Full Page Scrolling --}
		<script type="text/javascript" src="/_js/jquery.fullPage.js"></script>

		{!-- Latest compiled and minified JavaScript --}
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<script>
			$(document).ready(function() {
				$("#fullpage").fullpage({
					onLeave: function(index, nextIndex, direction) {
	            var leavingSection = $(this);

							setTimeout(function() {
									if (index == 2) {
										  $('#stories-vid')[0].contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*');
									}
							}, 500);
	        },

					afterLoad: function(anchorLink, index) {
	            var loadedSection = $(this);

							setTimeout(function() {
			            if (index == 2) {
											$('#stories-vid')[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*');
									}
							}, 500);
	        }
				});

				$("#stories-form").validate();

				$("#stories-form").submit(function() {
					if ($(this).valid()) {
						var name = $("input[name=name]").val();
						var beginning = $("textarea[name=beginning]").val();
						var persevered = $("textarea[name=persevered]").val();
						var growth = $("textarea[name=growth]").val();
						var thanks = $("textarea[name=thanks]").val();
						var email = $("input[name=email]").val();

						var valuesArray = [name, beginning, persevered, growth, thanks, email];

						$.ajax({
							type: "POST",
							url: "/_scripts/stories/submit.php",
							data: {
								values : valuesArray
							},
							success: function(data) {
								$("input[name=name]").val("");
								$("textarea[name=beginning]").val("");
								$("textarea[name=persevered]").val("");
								$("textarea[name=growth]").val("");
								$("textarea[name=thanks]").val("");
								$("input[name=email]").val("");

								$("header").html(data);
								$("header").fadeIn("slow");

								setTimeout(function() {
									$("header").fadeOut("slow");
								}, 8000);
							}
						});

						event.preventDefault();
					}
					else {
						$("header").html("<p>Please fill out all fields</p>");
						$("header").fadeIn("slow");

						setTimeout(function() {
							$("header").fadeOut("slow");
						}, 8000);
					}
				});

			});
		</script>
	</body>
</html>
