<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">

		<meta name="description" content="Share a story about how your life has been changed">
		<meta name="keywords" content="Stories Jesus Life Change Journey Church Norman OK">

		<title>Stories - What's Your Story?</title>

		<!-- Fonts -->
		<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/688704/css/fonts.css" />

		<!-- Font Icons -->
		<link rel="stylesheet" href="/_css/font-awesome.css" type='text/css'>

		<!-- Stylesheets -->
		<link rel="stylesheet" href="/_css/stories/normalize.css">
		<link rel="stylesheet" href="/_css/stories/base.css">
		<link rel="stylesheet" href="/_css/stories/grid.css">
		<link rel="stylesheet" href="/_css/stories/style.css">

		<link rel='stylesheet' media='screen and (max-width: 995px)' href='/_css/stories/tablet.css' />
		<link rel='stylesheet' media='screen and (max-width: 767px)' href='/_css/stories/mobile.css' />
		<link rel='stylesheet' media='screen and (max-width: 479px)' href='/_css/stories/mobile-portrait.css' />

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/_js/jquery.validate.js"></script>
	</head>
	<body>
		<header id="header">
			<a href="/stories"><div id="logo"></div></a>
		</header>

		<div class="clear"></div>

		<nav>
			<div id="scroll-up"><i class="fa fa-chevron-up"></i></div><br>
			<div id="scroll-down"><i class="fa fa-chevron-down"></i></div>
		</nav>

		<div class="clear"></div>

		<form id="stories-form" method="post" action="/_scripts/stories_submit.php">
			<section id="cover">
				<div class="inner">
					<div class="container">
						<div class="grid_12">
							<h1>Stories</h1>
							<h5>They Change Us</h5>
						</div>
					</div>

					<div class="clear"></div>
				</div>
			</section>

			<section id="story-line">
				<div class="inner">
					<div class="container">
						<div class="grid_12">
							<h3>We want to hear <span>your</span> story</h3>
						</div>
					</div>

					<div class="clear"></div>
				</div>
			</section>

			<section id="name">
				<div class="inner">
					<div class="container">
						<div class="grid_12">
							<label for="name">Tell us <span>your</span> name</label><br>
							<input name="name" type="text" placeholder="First Last" required="required" maxlength="70" form="stories-form"/><br>
						</div>
					</div>
				</div>

				<div class="clear"></div>
			</section>

			<section id="visit">
				<div class="inner">
					<div class="container">
						<div class="grid_12">
							<label for="find">What brought <span>you</span> to Journeychurch?</label><br>
							<textarea name="find" rows="5" maxlength="400" required="required" form="stories-form"></textarea><br>
						</div>
					</div>
				</div>

				<div class="clear"></div>
			</section>

			<section id="your-story" class="section">
				<div class="inner">
					<div class="container">
						<div class="grid_12">
							<label for="story">Tell us <span>your</span> story</label><br>
							<textarea name="story" rows="5" maxlength="800" required="required" form="stories-form"></textarea><br>
						</div>
					</div>
				</div>

				<div class="clear"></div>
			</section>

			<section id="share">
				<div class="inner">
					<div class="container">
						<div class="grid_12">
							<label for="email">Our stories team wants to know <span>you</span></label><br>
							<input name="email" type="email" placeholder="person@email.com" required="required" maxlength="55" form="stories-form"/>
							<br><button type="submit" name="submit" form="stories-form">Share My Story</button>
						</div>
					</div>
				</div>

				<div class="clear"></div>
			</section>
		</form>

		<script>
			$(document).ready(function() {
				$('#stories-form').validate();

				var windowHeight = $(window).height();
				var sections = $('section');
				var numberOfSections = sections.length;
				var tops = [];

				sections.height(windowHeight);

				for (var i = 0; i < numberOfSections; ++i) {
					var id = $('section:eq('+i+')').attr("id");
					tops[i] = $('#'+id).offset().top;
				}

				var getCount = function(scrollTop) {
					for (var i = 0; i < tops.length-1; ++i) {
						if (scrollTop >= tops[i] && scrollTop < tops[i+1]) {
							return i;
						}
					}

					return tops.length-1;
				};

				var scrollTop = $(document).scrollTop();
				var count = getCount(scrollTop);

				$('#scroll-down').click(function() {
					scrollTop = $(document).scrollTop();
					count = getCount(scrollTop);

					if (count < numberOfSections-1) {
						count+=1;

						$('body').animate({
							scrollTop: tops[count]
						}, 800);
					}
				});

				$('#scroll-up').click(function() {
					scrollTop = $(document).scrollTop();
					count = getCount(scrollTop);

					if (scrollTop > 0) {
						if (scrollTop%windowHeight == 0) {
							--count;
						}

						$('body').animate({
							scrollTop: tops[count]
						}, 800);
					}
				});

			});
		</script>

		<div class="clear"></div>
	</body>
</html>
