{embed="_includes/header" title="Classes"}

{embed="_component/embed-page" url-title="classes"}

<div id="classes" class="entry">
  <div class="container">
    <h1>Classes Available</h1>
    {exp:channel:entries channel="Classes"}
      <div class="grid_6 class-entry">
        <div class="class-entry-cover"><h3>{title}</h3><h4>Time: {class-time} | Starts on {class-start format="%M %d"}</h4></div>
        <div class="inner">
          {class-desc}
        </div>
        <div class="class-entry-footer"><a href="https://journeydreamteam.wufoo.com/forms/join-an-equip-class/def/field4=Grief%20Share">Enroll</a></div>
      </div>
    {/exp:channel:entries}
  </div>

  <div class="clear"></div>
</div>

{embed="_includes/footer"}
