{embed="_includes/header" title="JourneyChurch.tv : Small Groups"}

<div id="page-cover">
  <h1>Connections</h1>
</div>

<div id="page-nav">
  <ul>
    <li><a href="#header" class="active">About Groups</a></li>
    <li><a href="#header">Get Started</a></li>
  </ul>
</div>

<script type="text/javascript" src="/_js/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="kF3pT55ll5YkHD+C2nHMxZzfw+b5tbjmUoRRYg==";</script>

<script>
  $(document).ready(function() {

  });
</script>

{embed="_includes/footer"}
