{embed="_includes/header" title="JourneyChurch.tv : Small Groups"}

<div id="page-cover" class="bg-img">
  <h1>Connections</h1>
</div>

<div id="page-nav">
  <ul>
    <li><a href="#header" class="active">About Connections</a></li>
    <li><a href="#header">Get Involved</a></li>
    <li><a href="#header">FAQs</a></li>
  </ul>
</div>

<script type="text/javascript" src="/_js/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="kF3pT55ll5YkHD+C2nHMxZzfw+b5tbjmUoRRYg==";</script>

<div class="connections-entry" id="about-connections">
  <div class="container entry">
    <div class="grid_12"><h1>We are looking for energetic, joyful and excited people who want to make it their mission to <span>create</span> a comfortable environment where people feel <span>needed</span> and <span>known</span></h1></div>
    <div class="grid_8 push_2"><div id="about-connections-video"></div></div>
    <div class="clear"></div>
  </div>

  <script type="text/javascript">
    jwplayer("about-connections-video").setup({
      'autostart': 'false',
      'width': '100%',
      'menu': 'false',
      'aspectratio': '16:9',
      'file': 'https://www.youtube.com/watch?v=7nULPN3q2gk',
      'abouttext': 'JourneyChurch.tv Media',
      'aboutlink': 'http://journeychurch.tv/media',
        'plugins': {
          'gapro-2':{ accountid: "UA-23134458-1", trackstarts: true, trackpercentage: true, tracktime: true}
        },
        'modes': [{
          'type':'flash',
          'src': '/_js/jwplayer.flash.swf'
        }]
    });
  </script>

  <div id="about-connections-info" class="bg-img">
    <div class="container entry">
      <div id="connections-get-involved-info" class="grid_6">
        <h1>Get Involved</h1>
        <p>While serving on the Connection Team, you'll get to meet a variety of people while trying to make people feel comfortable and meeting the needs of our guests each and every week. The main heart and vision of the Connection Team is to do anything and everything to remove barriers so people can be tuned in to what the Lord has for them.</p>
        <a href="#page-nav"><div class="button" id="connections-get-involved-button">Join the Team</div></a>
      </div>

      <div id="connections-faqs-info" class="grid_6">
        <h1>Do You Have Any Questions?</h1>
        <p>If you have any questions about the connections team let us know! The FAQs may give you a great start!</p>
        <a href="#page-nav"><div class="button" id="connections-faqs-button">FAQs</div></a>
      </div>

      <div class="clear"></div>
    </div>

    <div class="clear"></div>
  </div>

  <div class="clear"></div>
</div>

<div class="connections-entry" id="connections-get-involved">
  <div class="container entry">
    <div class="grid_8 push_2">
      <h1>Get Involved</h1>
      <h2>The Connection Team at JourneyChurch is one of the best places for you to help make a big place feel small.</h2>
      <p>While serving on the Connection Team, you'll get to meet a variety of people while trying to make people feel comfortable and meeting the needs of our guests each and every week.</p>
    </div>

    <div class="clear"></div>
  </div>

  <div class="clear"></div>

  <div id="connections-get-involved-filler" class="bg-img">
    <div class="container entry">
      <div class="grid_8 push_2">
        <p>The main heart and vision of the Connection Team is to do anything and everything to remove barriers so people can be tuned in to what the Lord has for them.
          There are many roles you can serve in, which are listed below. If there's a role you're passionate about, but doesn't yet exist, we want to hear about it!</p>
      </div>

      <div class="clear"></div>
    </div>

    <div class="clear"></div>
  </div>
</div>

<div class="connections-entry" id="connections-faqs">
  <h1>FAQS</h1>
</div>

<script>
  $(document).ready(function() {
    $('#page-nav ul li:first-child').click(function() {
      $('#page-nav ul li a').removeClass('active');
      $('#page-nav ul li:first-child a').addClass('active');
      $('.connections-entry').css('display', 'none');
      $('#about-connections').fadeIn('fast');
    });

    $('#connections-get-involved-button').click(function() {
      $('#page-nav ul li a').removeClass('active');
      $('#page-nav ul li:nth-child(2) a').addClass('active');
      $('.connections-entry').css('display', 'none');
      $('#connections-get-involved').fadeIn('fast');
    });

    $('#page-nav ul li:nth-child(2)').click(function() {
      $('#page-nav ul li a').removeClass('active');
      $('#page-nav ul li:nth-child(2) a').addClass('active');
      $('.connections-entry').css('display', 'none');
      $('#connections-get-involved').fadeIn('fast');
    });

    $('#connections-faqs-button').click(function() {
      $('#page-nav ul li a').removeClass('active');
      $('#page-nav ul li:nth-child(3) a').addClass('active');
      $('.connections-entry').css('display', 'none');
      $('#connections-faqs').fadeIn('fast');
    });

    $('#page-nav ul li:nth-child(3)').click(function() {
      $('#page-nav ul li a').removeClass('active');
      $('#page-nav ul li:nth-child(3) a').addClass('active');
      $('.connections-entry').css('display', 'none');
      $('#connections-faqs').fadeIn('fast');
    });
  });
</script>

{embed="_includes/footer"}
