{embed="_includes/header" title="JourneyChurch.tv : Small Groups"}

<div id="page-cover" class="bg-img">
  <h1>Small Groups</h1>
</div>

<script type="text/javascript" src="/_js/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="kF3pT55ll5YkHD+C2nHMxZzfw+b5tbjmUoRRYg==";</script>

<div id="about-small-groups">
  <div class="container entry">
    <div class="grid_12"><h1>A <span>Small Group</span> is a group of three or more people who gather each week in a home, workplace, or at the church.</h1></div>
    <div class="clear"></div>
  </div>

  <div class="clear"></div>

  <div class="entry-shade">
    <div class="container">
      <div class="grid_8 push_2"><div id="about-groups-vid"></div></div>
    </div>

    <div class="clear"></div>
  </div>
</div>

<script>
  jwplayer("about-groups-vid").setup({
  'autostart': 'false',
  'width': '100%',
  'menu': 'false',
  'aspectratio': '16:9',
  'file': 'https://www.youtube.com/watch?v=W-J5_xVSL_8',
  'image': '/_img/Kiah-Bailey-Story-Thumb.jpg',
  'abouttext': 'JourneyChurch.tv Media',
  'aboutlink': 'http://journeychurch.tv/media',
    'plugins': {
      'gapro-2':{ accountid: "UA-23134458-1", trackstarts: true, trackpercentage: true, tracktime: true}
    },
    'modes': [{
      'type':'flash',
      'src': '/_js/jwplayer.flash.swf'
    }]
  });
</script>

{!-- Find A Group --}
<div id="find-a-group" class="bg-img">
  <div class="container entry">
    <div class="grid_8 push_2">
      {exp:channel:entries channel="pages" url_title="find-a-group"}
        <h1>{title}</h1>
        <p>{page-body}</p>
      {/exp:channel:entries}
      <a href="https://secure.accessacs.com/access/login_guest.aspx?sn=106649&sc=sgguest"><div class="button">Browse Groups</div></a>
      <a href="https://journeydreamteam.wufoo.com/forms/i-need-help-finding-a-group/"><div class="button" style="margin-left:10px;">I Need Help</div></a>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>

{!-- Start A Group --}
<div id="start-a-group">
  <div class="container entry">
    <div class="grid_8 push_2">
      {exp:channel:entries channel="pages" url_title="start-a-group"}
        <h1>{title}</h1>
        <p>{page-body}</p>
      {/exp:channel:entries}
        <a href="https://journeydreamteam.wufoo.com/forms/pv0k5hs1d765z0/" target="_blank"><div class="button">Start A Group</div></a>
    </div>

    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>

<div id="groups-info" class="bg-img">
  <div class="container entry">
    <div class="grid_4">
      <h3>Small Group Events</h3>
      <p>Discover Small Group Events taking place during the week!</p>
      <a href="/connect/events">Visit Events <i class="fa fa-chevron-right"></i></a>
    </div>

    <div class="grid_4">
      <h3>Connect With Household</h3>
      <p>Our Household App is a perfect way to connect with your closest friends in your small group!</p>
      <a href="/resources/connect">Learn About Household <i class="fa fa-chevron-right"></i></a>
    </div>

    <div class="grid_4">
      <h3>FAQs</h3>
      <p>Have any questions about small groups? Check out some of the frequently asked questions</p>
      <a href="/resources/connect">Visit FAQs <i class="fa fa-chevron-right"></i></a>
    </div>

    <div class="clear"></div>
  </div>

  <div class="clear"></div>
</div>

{!-- Resources --}
<div id="groups-resources">
  <div class="container entry">
    <div class="grid_12">
      <h1>Resources</h1>
      {exp:channel:entries channel="pages" url_title="life-group-resources"}
        {page-body}
      {/exp:channel:entries}
    </div>

    <div class="clear"></div>
  </div>

  <div class="clear"></div>
</div>

{embed="_includes/footer"}
