{embed="_includes/header" title="JourneyChurch.tv : Small Groups"}

<div id="cover" class="page-cover bg-img">
  <div class="cover-inner">
    <h1 class="fade">Journey Groups</h1>
  </div>
</div>

<style>
  #cover {
    background-image:url("/_img/the_ledge.jpeg");
  }
</style>

<div id="what-is-a-group" class="entry bg-light-grey center">
  <div class="container">
    <div class="grid_12">
      <h2 class="thin light-grey">A <span class="bold dark-grey">Journey Group</span> is a group of three or more people who gather each week in a home, workplace, or at the church.</h2>
    </div>
  </div>

  <div class="clear"></div>
</div>

<div id="find-start-group" class="entry bg-img center">
  <div class="container">
    <div class="grid_4 push_4 fade">
      <img src="/_img/journeygroups-logo.png"/>
    </div>

    <div class="clear"></div>
    <br><br>

    <div class="grid_4 push_2">
      <a href="https://secure.accessacs.com/access/login_guest.aspx?sn=106649&sc=sgguest"><h3 class="transparent-button">Find a Group</h3></a>
    </div>

    <div class="grid_4 push_2">
      <a href="http://journeychurch.tv/groups/start"><h3 class="transparent-button">Start a Group</h3></a>
    </div>
  </div>

  <div class="clear"></div>
</div>

<div id="group-faqs" class="entry bg-color bg-dark-grey center">
  <div class="container">
    <div class="grid_4">
      <h3 class="light-grey">How Do I Find A Journey Group?</h3>
      <p>There are two ways to find a Journey Group.</p><br>
    </div>

    <div class="grid_4">
      <h3 class="light-grey">How Do I Start A Journey Group?</h3>
      <p>God can use you to start a new group and we are excited to help you get it started right!</p><br>
    </div>

    <div class="grid_4">
      <h3 class="light-grey">Need Help Finding A Group?</h3>
      <p>We can <a href="">assist</a> you at any time!</p><br>
    </div>

    <div class="clear"></div>
    <br><br>

    <div class="grid_12">
      <a href="/classes"><h2 class="grey">You May Also Be Interested In A Class <i class="fa fa-angle-right grey"></i></h2></a>
    </div>
  </div>

  <div class="clear"></div>
</div>

{embed="_includes/footer"}
