{embed="_includes/header" title="Get Connected"}

{embed="_component/embed-page-cover" url-title="connect"}

<div id="connect" class="container entry">
  <div class="connect-entry" id="connect-small-groups">
    <div class="grid_6 connect-entry-left alpha omega">
      <h2>Small Groups</h2>
      <p>Through Small Groups, we connect in honest relationships with others by sharing, supporting, and encouraging one another in our pursuits of becoming fully-devoted followers of Christ. {!--Life Groups kick off three times a year--spring, summer & fall--with a new groups catalog, online registration, and a 10 Minute Party.--}</p>
      <a href="/connect/groups">Get in a Small Group <i class="fa fa-chevron-right"></i></a>
    </div>

    <div class="grid_6 connect-img alpha omega"></div>
    <div class="clear"></div>
  </div>

  <div class="connect-entry" id="connect-connections">
    <div class="grid_6 connect-img alpha omega"></div>

    <div class="grid_6 connect-entry-right alpha omega">
      <h2>Connections</h2>
      <p>{!--The Connection Team at JourneyChurch is one of the best places for you to help make a big place feel small.--} While serving on the Connection Team, you'll get to meet a variety of people while trying to make people feel comfortable and meeting the needs of our guests each and every week. {!--The main heart and vision of the Connection Team is to do anything and everything to remove barriers so people can be tuned in to what the Lord has for them.--}</p>
      <a href="/connect/groups">Serve in Connections <i class="fa fa-chevron-right"></i></a>
    </div>

    <div class="grid_6 connect-img-mobile alpha omega"></div>
    <div class="clear"></div>
  </div>

  <div class="connect-entry" id="connect-classes">
    <div class="grid_6 connect-entry-left alpha omega">
      <h2>Classes</h2>
      <p>Each EQUIP class is designed to be a catalyst for spiritual growth as well as practical instruction in your daily life. We hope to help you answer the question, "How does my faith affect my daily life?"</p>
      <a href="/connect/groups">Get in a Class <i class="fa fa-chevron-right"></i></a>
    </div>

    <div class="grid_6 connect-img alpha omega"></div>
    <div class="clear"></div>
  </div>

  <div class="connect-entry" id="connect-devos">
    <div class="grid_6 connect-img alpha omega"></div>

    <div class="grid_6 connect-entry-right alpha omega">
      <h2>Daily Devotionals</h2>
      <p>Quiet time and fellowship with God—the most important part of each day. Use these devotionals to help you focus on God each day.{!-- You can read them online and get a daily text reminder at 9:00 AM every morning. Get the daily devos by text by sending "DEVOS" to 25827.--}</p>
      <a href="/connect/groups">Engage in a Devotional <i class="fa fa-chevron-right"></i></a>
    </div>

    <div class="grid_6 connect-img-mobile alpha omega"></div>
    <div class="clear"></div>
  </div>

  <div class="connect-entry" id="connect-interns">
    <div class="grid_6 connect-entry-left alpha omega">
      <h2>Internships</h2>
      <p>JourneyChurch is a rapidly growing, cutting edge church in Norman, OK. With our vision, {!--the vision “to see cities transformed, one life at a time,”--} JourneyChurch strongly believes it is essential to develop high-capacity leaders and connect them to highly compassionate causes. {!--Therefore, Leadership Journey was created. Leadership Journey is one of the many ministries of JourneyChurch. Pastor Clark’s vision for this ministry is to equip leaders to transform culture through biblical leadership training.--}</p>
      <a href="/connect/groups">Be an Intern <i class="fa fa-chevron-right"></i></a>
    </div>

    <div class="grid_6 connect-img alpha omega"></div>
    <div class="clear"></div>
  </div>

  <div class="clear"></div>
</div>

{embed="_includes/footer"}
