{embed="_includes/header-college-test" title="College"}

{exp:channel:entries channel="main" url_title="student"}

{!-- Customize Front --}
<script>
  $(document).ready(function() {
    $("#front").css("background-image", "url('/_img/{background_image}')");

    $(".social_media a:nth-child(1)").mouseenter(function() { $(".social_media a:nth-child(1) i").css("color", "{theme_color}"); });
    $(".social_media a:nth-child(1)").mouseleave(function() { $(".social_media a:nth-child(1) i").css("color", "white"); });

    $(".social_media a:nth-child(2)").mouseenter(function() { $(".social_media a:nth-child(2) i").css("color", "{theme_color}"); });
    $(".social_media a:nth-child(2)").mouseleave(function() { $(".social_media a:nth-child(2) i").css("color", "white"); });

    $(".social_media a:nth-child(3)").mouseenter(function() { $(".social_media a:nth-child(3) i").css("color", "{theme_color}"); });
    $(".social_media a:nth-child(3)").mouseleave(function() { $(".social_media a:nth-child(3) i").css("color", "white"); });

    $(".social_media a:nth-child(4)").mouseenter(function() { $(".social_media a:nth-child(4) i").css("color", "{theme_color}"); });
    $(".social_media a:nth-child(4)").mouseleave(function() { $(".social_media a:nth-child(4) i").css("color", "white"); });
  });
</script>

<div id="front">
  <div class="container">
    <div class="grid_12"><h1 class="appear">{title}</h1></div>
    <div class="clear"></div>

    <div class="social_media">
      {if facebook}<a class="appear" href="{facebook}"><i class="fa fa-facebook fa-3x"></i></a>{/if}
      {if twitter}<a class="appear" href="{twitter}"><i class="fa fa-twitter fa-3x"></i></a>{/if}
      {if instagram}<a class="appear" href="{instagram}"><i class="fa fa-instagram fa-3x"></i></a>{/if}
      {if youtube}<a class="appear" href="{youtube}"></a><i class="fa fa-youtube fa-3x"></i>{/if}
    </div>
    <div class="clear"></div>
  </div>
</div>
{/exp:channel:entries}

<div class="page_nav">
  <div class="container">
    <div class="grid_12 alpha">
      <ul>
        <li><a href="#about">About</a></li>
        {exp:channel:entries channel="main_entry" category="85" sort="asc"}
        <li><a href="#{url_title}">{title}</a></li>
        {/exp:channel:entries}
      </ul>
    </div>
  </div>
</div>

{exp:channel:entries channel="main" url_title="student"}
<div id="about">
  <div class="container">
    <div class="about_title grid_4 alpha">{if logo}<img src="/_img/{logo}"/>{if:else}<h2>{title}</h2>{/if}</div>
    <div class="about_content grid_8 omega">
      <p>{description}</p>
    </div>
    <div class="clear"></div>
    <h1>The {title} Team</h1>
    <div class="team">{embed="_component/connect-cats" catid="{team_category_id}"}</div>
    <div class="clear"></div>
    {if twitter_embed}{twitter_embed}{/if}
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    {!-- Customize Rest Of Page --}
    $('.entry a, .entry a:visited, .entry a:hover, .entry a:active, .entry a:focus').css('color', '{theme_color}');
    $('#about').css('background-color', '{theme_color}');
    $('.team-entry-content a').css('color', '{theme_color}');
    $('.page_nav ul li a').css('color', '{theme_color}');
    $('.page_nav ul li a').hover(
      function() {
        $(this).css({
          'border-bottom': '5px solid {theme_color}',
          'padding-bottom': '9px'
        });
    },function() {
        $(this).css({
          'border-bottom': '0px',
          'padding-bottom': '14px'
        });
    });

    {!-- Page Nav --}
    $(document).scroll(function() {
      var width = $(window).width();

      if (width > 767) {
        var scrollTop = $(document).scrollTop();
        var nav_height = $('header').outerHeight();
        var page_nav_height = $('.page_nav').outerHeight();

        scrollTop+=(nav_height+page_nav_height);

        $('.page_nav ul li a').each(function () {
          var currentLink = $(this);
          var refElement = $(currentLink.attr("href"));

          if (refElement.position().top <= scrollTop && refElement.position().top + refElement.height() > scrollTop) {
            $(this).css({
              'background-color': 'white',
              'color': '{theme_color}'
            });

            currentLink.css({
              'background-color': '{theme_color}',
              'color': 'white'
            });
          }
          else{
            currentLink.css({
              'background-color': 'white',
              'color': '{theme_color}'
            });
          }
        });
      }
    });
  });
</script>
{/exp:channel:entries}

{exp:channel:entries channel="main_entry" category="85" sort="asc"}
<div id="{url_title}">
  <div class="entry">
    <div class="entry_title"><h1>{title}</h1></div>
    <div class="entry_content">
      <div class="container">
        <div class="grid_12">
          <p>{entry_content}</p>
        </div>
      </div>

      <div class="clear"></div>

    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#{url_title} .entry_title').css('background-image', "url('/_img/{entry_title_background}')");
});
</script>
{/exp:channel:entries}

{!-- Functionality --}
<script>
  $(document).ready(function() {
    var window_height = $(window).height();
    var width = $(window).width();
    var nav_height = $('header').outerHeight();
    var counter_height = 30;
    var height = (window_height)-(nav_height)-(counter_height);
    var opacity = $('#front').css('opacity');

    $('.filler').css('height', nav_height);
    $('#front').css('height', height);
    $('#front h1').css('top', height/2-nav_height);
    $('.social_media').css('top', height-nav_height-124);

    $(document).scroll(function() {
      var scrollTop = $(document).scrollTop();
      $('#front h1, .social_media').css({
        'opacity': ((height - (scrollTop*1.5)) / height)
      });
    });

    setTimeout(
      function()
      {
        $('.appear').fadeIn("slow");
      },
    1000);

    if (width > 767) {
      var page_nav_height = $('.page_nav').outerHeight();

      $(document).scroll(function() {
        var scrollTop = $(document).scrollTop();

        if (scrollTop >= height+counter_height-page_nav_height) {
          $('.page_nav').css({
            'top': nav_height
          });
          $('.page_nav').slideDown(250);
        }
        else {
          $('.page_nav').slideUp(250);
        }
      });

      $(".page_nav a").click(function() {
        var href = $(this).attr("href");
        var hash = href.substr(0,1);
  			if (hash=="#") {
          var offset = $(href).offset().top;
  				offset-=(nav_height+page_nav_height);
  				$("body,html").animate({
  					scrollTop : offset
  				}, 750);
  			}
        return false;
  		});
    }
  });
</script>

{embed="_includes/footer-college"}
