<footer>
  <div id="footer-copyright">
    <div class="container">
      <div class="grid_4 social-media push_2">
        <ul>
          <li><a href="https://www.facebook.com/journeychurchtv"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="https://twitter.com/journeychurchtv"><i class="fa fa-twitter"></i></a></li>
          <li><a href="http://instagram.com/journeychurchtv"><i class="fa fa-instagram"></i></a></li>
          <li><a href="http://youtube.com/journeychurchmedia"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>

      <div class="grid_4 push_2">
        <a href="https://journeydreamteam.wufoo.com/forms/how-can-we-help/"><button>How Can We Help?</button></a>
      </div>

      <div class="clear"></div>

      <div class="grid_12">
        <p>&copy; <?php echo date("Y"); ?> JourneyChurch.tv. All Rights Reserved<br>
  			PO Box 722764 | Norman, OK 73070 | 405.217.8700 | <a href="mailto:connect@journeychurch.tv">connect@JourneyChurch.tv</a></p>
      </div>
    </div>

    <div class="clear"></div>
  </div>

  <div class="clear"></div>
</footer>
