{embed="_includes/footer-content"}

<script>
	$(document).ready(function() {
		var windowHeight = $(window).height();
		var headerHeight = $('#header').outerHeight();
		var windowWidth = $(window).width();
		var scrollTop = 0;
		var scrollPosition = 0;

		{!-- Cover --}
		$('#cover').css({
			'height': windowHeight
		});

		setTimeout(
			function() {
				$('#cover h1').animate({
					opacity : '1',
					top : '200px'
				}, 500, function() {
					$('#cover h2').animate({
						opacity : '1',
						top : '230px'
					}, 500);
				});
			}
		, 750);

		{!-- Page Cover --}
		setTimeout(
			function() {
				$('#page-cover h1').animate({
					opacity : '1',
					top : '110px'
				}, 500, function() {
					$('#page-cover h2').animate({
						opacity : '1',
						top : '140px'
					}, 500);
				});
			}
		, 750);

		{!-- Header/Navigation --}
		$('.header-filler').css({
			'height': headerHeight
		});

		$(document).scroll(function() {
			scrollTop = $(document).scrollTop();

			if (scrollTop > 100) {
				$('header').css({
					'background-color' : '#006f7c',
					'border-bottom-color': '#28646B'
				});
			}
			else {
				$('header').css({
					'background-color': 'transparent',
					'border-bottom-color': 'transparent'
				});
			}
		});

		$('#nav-icon').click(function() {
			$('#nav-wrapper').slideToggle('fast');
			$('#search').slideUp('fast');

			$('#search-icon i').removeClass('fa-chevron-up');
			$('#search-icon i').addClass('fa-search');

			$('#nav-icon i').toggleClass('fa-bars');
			$('#nav-icon i').toggleClass('fa-chevron-up');
		});

		$('#search-icon').click(function() {
			$('#search').slideToggle('fast');
			$('#nav-wrapper').slideUp('fast');

			$('#nav-icon i').removeClass('fa-chevron-up');
			$('#nav-icon i').addClass('fa-bars');

			$('#search-icon i').toggleClass('fa-search');
			$('#search-icon i').toggleClass('fa-chevron-up');
		});

		$(document).scroll(function() {
			$('#nav-wrapper').slideUp('fast');
			$('#search').slideUp('fast');

			$('#nav-icon i').removeClass('fa-chevron-up');
			$('#nav-icon i').addClass('fa-bars');

			$('#search-icon i').removeClass('fa-chevron-up');
			$('#search-icon i').addClass('fa-search');
		});

		{!-- Mobile Nav --}
			$('#mobile-nav ul .grid_3:first-child li h3').click(function() {
				$('#mobile-nav ul ul').slideUp();
				$('#mobile-nav ul .grid_3:first-child li ul').slideToggle();
			});

			$('#mobile-nav ul .grid_3:nth-child(2) li h3').click(function() {
				$('#mobile-nav ul ul').slideUp();
				$('#mobile-nav ul .grid_3:nth-child(2) li ul').slideToggle();
			});

			$('#mobile-nav ul .grid_3:nth-child(3) li h3').click(function() {
				$('#mobile-nav ul ul').slideUp();
				$('#mobile-nav ul .grid_3:nth-child(3) li ul').slideToggle();
			});

			$('#mobile-nav ul .grid_3:last-child li h3').click(function() {
				$('#mobile-nav ul ul').slideUp();
				$('#mobile-nav ul .grid_3:last-child li ul').slideToggle();
			});

		{!-- Page Nav --}
		if (windowWidth > 776) {
			var pageCoverHeight = $('#page-cover').outerHeight();
			var pageNavHeight = $('#page-nav').outerHeight();

			$('.page-nav-filler').css('height', pageNavHeight);

			$(document).scroll(function() {
				scrollTop = $(document).scrollTop();

				if (scrollTop > pageCoverHeight-pageNavHeight) {
					$('#page-nav').addClass('sticky-nav');
					$('#page-nav').css('top', headerHeight);
					$('.page-nav-filler').css('display', 'block');
				}
				else {
					$('#page-nav').removeClass('sticky-nav');
					$('.page-nav-filler').css('display', 'none');
				}
			});
		}

		{!-- Staff Nav --}
		if (windowWidth <= 767) {
			$('#staff').click(function() {
				$('#demographic-pastors ul ul').slideUp('fast');
				$('#staff ul ul').slideDown('fast');
			});

			$('#demographic-pastors').click(function() {
				$('#staff ul ul').slideUp('fast');
				$('#demographic-pastors ul ul').slideDown('fast');
			});
		}
	});
</script>

	<script type="text/javascript">
	var _sf_async_config={uid:49423,domain:"journeychurch.tv",useCanonical:true};
	(function(){
	  function loadChartbeat() {
	    window._sf_endpt=(new Date()).getTime();
	    var e = document.createElement('script');
	    e.setAttribute('language', 'javascript');
	    e.setAttribute('type', 'text/javascript');
	    e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
	    document.body.appendChild(e);
	  }
	  var oldonload = window.onload;
	  window.onload = (typeof window.onload != 'function') ?
	     loadChartbeat : function() { oldonload(); loadChartbeat(); };
	})();

	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23134458-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>
