{embed="_includes/footer-content"}

		{!-- Sidr Nav Bar (http://www.berriart.com/sidr/)--}
		<script src="/_js/jquery.sidr.min.js"></script>
		<link rel="stylesheet" href="/_css/jquery.sidr.dark.css">

		<script>
			$(document).ready(function() {

				{!-- Countdown fade in (delayed because it needs times to load) --}
				setTimeout(
					function() {
							$( "#countdown_contain" ).fadeTo( "slow" , 1);
					}
				, 1500);


				{!-- Nav --}
				$('#show-nav').sidr({
					name: 'nav-wrapper',
					side: 'right'
				});


				{!-- Create Nav Items --}
				var createNavItem = function(i) {

					// Store section headers/content
					var selectedSection = '#nav-menu li:nth-child('+i+')';
					var selectedHeader = selectedSection+' h3';
					var selectedContent = selectedSection+' ul';
					var allContent = '#nav-menu ul';

					// Add click events for each header with specific section
					$(selectedHeader).click(function() {
						$(allContent).slideUp();

						if ($(selectedContent).is(":hidden")) {
							$(selectedContent).slideDown();
						}
						else {
							$(selectedContent).slideUp();
						}
					});
				}

				// Create navigation functionality for each header
				var numberOfSections = $('#nav-menu > li').length;
				for (var i = 1; i <= numberOfSections; ++i) {
					createNavItem(i);
				}


				{!-- Header
				// Store scrollTop relative to current position of header
				var previousScrollTop = $(document).scrollTop();

				// Fade in/Fade out variables used as flags for the animations are complete
				var fadingIn = false;
				var fadingOut = false;

				$(document).scroll(function() {

					// Store scrollTop on every event
					var scrollTop = $(document).scrollTop();

					// If greater than header height, become a sticky header
					if (scrollTop >= 60) {

						// If scrolling up, fade in the nav bar
						if (scrollTop < previousScrollTop) {

							// Make sticky header and fill in gap with header filler because of positon fixed
							$('header').addClass('sticky-header');
							$('#header-filler').show();
							$('#logo, #upper-corner').show();

							// If home page, display the logo only for the nav not the cover
							if ($('#cover').hasClass('home-cover')) {
								$('#logo').show();
							}

							// Change logo to grey
							$('#logo img').attr("src", "/_img/logo-large-grey.png");

							// Need a flag to know when fade in animation is complete
							if (!fadingIn) {
								$('header').fadeTo(400, 1, function() {
									fadingIn = false;
								});
								fadingIn = true;
							}
						}
						else {

							// Need a flag to know when fade out animation is complete
							if (!fadingOut) {
								$('header').fadeTo(400, 0, function() {
									fadingOut = false;

									// Hide the logo and uppercorner so that a user cannot click on them
									$('#logo, #upper-corner').hide();
								});
								fadingOut = true;
							}
						}
					}

					// If back to top of page remove sticky header
					else {
						$('header').removeClass('sticky-header');
						$('#header-filler').hide();

						if ($('#cover').hasClass('home-cover')) {
							$('#logo').hide();
						}

						// Change back to static header
						$('#logo img').attr("src", "/_img/logo-large.png");
					}

					// Store the current scrollTop to compare to next
					previousScrollTop = scrollTop;
				});

				--}

				var previousScrollTop = $(document).scrollTop();

				$(document).scroll(function() {

					// Store scrollTop on every event
					var scrollTop = $(document).scrollTop();

					// If greater than header height, become a sticky header
					if (scrollTop >= 60) {
						// Make sticky header and fill in gap with header filler because of positon fixed
						$('header').addClass('sticky-header');
						$('#header-filler').show();

						// If home page, display the logo only for the nav not the cover
						if ($('#cover').hasClass('home-cover')) {
							$('#logo').show();
						}

						// Change logo to grey
						$('#logo img').attr("src", "/_img/logo-large-grey.png");

						// If scrolling up, fade in the nav bar
						if (scrollTop < previousScrollTop) {
							$('header').show();
						}
						else {
							$('header').hide();
						}
					}
					// If back to top of page remove sticky header
					else {
						$('header').removeClass('sticky-header');
						$('#header-filler').hide();

						if ($('#cover').hasClass('home-cover')) {
							$('#logo').hide();
						}

						// Change back to static header
						$('#logo img').attr("src", "/_img/logo-large.png");
					}

					// Store the current scrollTop to compare to next
					previousScrollTop = scrollTop;
				});
			});
		</script>


		{!-- Chartbeat --}
		<script type="text/javascript">
			var _sf_async_config={uid:49423,domain:"journeychurch.tv",useCanonical:true};
			(function(){
			  function loadChartbeat() {
			    window._sf_endpt=(new Date()).getTime();
			    var e = document.createElement('script');
			    e.setAttribute('language', 'javascript');
			    e.setAttribute('type', 'text/javascript');
			    e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
			    document.body.appendChild(e);
			  }
			  var oldonload = window.onload;
			  window.onload = (typeof window.onload != 'function') ?
			     loadChartbeat : function() { oldonload(); loadChartbeat(); };
			})();
		</script>


		{!-- Google Analytics --}
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23134458-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>
