{embed="_includes/footer-content"}

		<script>
			$(document).ready(function() {


				{!-- Countdown fade in (delayed because it needs times to load) --}
				setTimeout(
					function() {
							$( "#countdown_contain" ).fadeTo( "slow" , 1);
					}
				, 1500);


				{!-- Create Nav Items --}
				var createNavItem = function(i) {

					// Store section headers/content
					var selectedSection = '#nav-menu li:nth-child('+i+')';
					var selectedHeader = selectedSection+' h3';
					var selectedContent = selectedSection+' ul';
					var allContent = '#nav-menu ul';

					// Add click events for each header with specific section
					$(selectedHeader).click(function() {
						$(allContent).slideUp();

						if ($(selectedContent).is(":hidden")) {
							$(selectedContent).slideDown();
						}
						else {
							$(selectedContent).slideUp();
						}
					});
				}
				// Create navigation functionality for each header
				var numberOfSections = $('#nav-menu > li').length;
				for (var i = 1; i <= numberOfSections; ++i) {
					createNavItem(i);
				}


				{!-- Header --}
				$(document).scroll(function() {
					var scrollTop = $(document).scrollTop();

					if (scrollTop <= 0) {
						$('#logo img').attr('src', '/_img/logo-large.png');

						if ($('#cover').hasClass('home-cover')) {
							$('#logo').hide();
						}
					}
					else {
						$('#logo img').attr('src', '/_img/logo-large-grey.png');

						if ($('#cover').hasClass('home-cover')) {
							$('#logo').show();
						}
					}
				});
			});
		</script>


		{!-- Sidr Nav Bar (http://www.berriart.com/sidr/)--}
		<script src="//cdn.jsdelivr.net/jquery.sidr/2.1.0/jquery.sidr.min.js"></script>


		{!-- Chartbeat --}
		<script type="text/javascript">
			var _sf_async_config={uid:49423,domain:"journeychurch.tv",useCanonical:true};
			(function(){
			  function loadChartbeat() {
			    window._sf_endpt=(new Date()).getTime();
			    var e = document.createElement('script');
			    e.setAttribute('language', 'javascript');
			    e.setAttribute('type', 'text/javascript');
			    e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
			    document.body.appendChild(e);
			  }
			  var oldonload = window.onload;
			  window.onload = (typeof window.onload != 'function') ?
			     loadChartbeat : function() { oldonload(); loadChartbeat(); };
			})();
		</script>


		{!-- Google Analytics --}
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23134458-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>
