{embed="_includes/header-opener-test" title="{embed:title}" title2="{embed:title2}" tags="{embed:tags}"}
  <link rel="stylesheet" href="/_css/college-test.css">
  <script type="text/javascript" src="/_js/jwplayer.js"></script>
  <script type="text/javascript" src="/_js/jquery.scrollto.js"></script>
  <script type="text/javascript">jwplayer.key="kF3pT55ll5YkHD+C2nHMxZzfw+b5tbjmUoRRYg==";</script>
  <script type="text/javascript" src="/_js/jquery-1.11.3.js"></script>
{embed="_includes/header-closer-test" bar="{embed:bar}"}
