</head>

<body>
	<nav id="nav-wrapper">
		<div id="nav-info">
			<ul>
        <li><a href="https://www.facebook.com/journeychurchtv"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="https://twitter.com/journeychurchtv"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://instagram.com/journeychurchtv"><i class="fa fa-instagram"></i></a></li>
        <li><a href="http://youtube.com/journeychurchmedia"><i class="fa fa-youtube"></i></a></li>
				<li><a href="/search"><div id="search-icon"><i class="fa fa-search"></i></div></a></li>
      </ul>
		</div>

		<div class="clear"></div>

		<ul>
			<li><h3>About</h3>
				<ul>
					<li><a href="/about"><h4>Our Story</h4></a></li>
					<li><a href="/about/values"><h4>Our Values</h4></a></li>
					<li><a href="/about/theology"><h4>Our Theology</h4></a></li>
					<li><a href="/about/structure"><h4>Our Structure (Governance)</h4></a></li>
					<li><a href="/about/team"><h4>Our Team</h4></a></li>
					<li><a href="/about/locations"><h4>Locations</h4></a></li>
				</ul>
			</li>
			<li><h3>Get Connected</h3>
				<ul>
					<li><a href="/connect/groups"><h4>Small Groups</h4></a></li>
					<li><a href="/connect/events"><h4>Events</h4></a></li>
					<li><a href="/connect/connections"><h4>Connections</h4></a></li>
					<li><a href="/connect/classes"><h4>Classes</h4></a></li>
					<li><a href="/connect/devos"><h4>Daily Devotionals</h4></a></li>
					<li><a href="/connect/interns"><h4>Internships</h4></a></li>
				</ul>
			</li>
			<li><h3>Ministries</h3>
				<ul>
					<li><a href="/ministries/care"><h4>Care</h4></a></li>
					<li><a href="/ministries/college"><h4>College</h4></a></li>
					<li><a href="/ministries/creative"><h4>Creative</h4></a></li>
					<li><a href="/ministries/freedom"><h4>Freedom</h4></a></li>
					<li><a href="/ministries/kids"><h4>Kids</h4></a></li>
					<li><a href="/ministries/leadership"><h4>Leadership</h4></a></li>
					<li><a href="/ministries/womens"><h4>Women's</h4></a></li>
					<li><a href="/ministries/student"><h4>Student</h4></a></li>
					<li><a href="/ministries/young-adult"><h4>Young Adult</h4></a></li>
				</ul>
			</li>
			<li><h3>Resources</h3>
				<ul>
					<li><a href="/resources/media"><h4>Media</h4></a></li>
					<li><a href="/resources/app"><h4>App</h4></a></li>
					<li><a href="/resources/give"><h4>Give</h4></a></li>
					<li><a href="/resources/blog"><h4>Blog</h4></a></li>
				</ul>
			</li>
		</ul>
	</nav>

	<div class="clear"></div>

	<header>
		<a id="logo" href="/">
			<img src="/_img/logo.png"/>

			<div class="clear"></div>
		</a>

		<div id="upper-corner">
			<a id="show-nav" href="#nav-wrapper">
				<div id="nav-icon">
					<i class="fa fa-bars"></i>
				</div>

				<div class="clear"></div>
			</a>
			{!-- Site announcement/alerts take priority over countdown --}
			<div id="countdown_contain"></div>

			<div class="clear"></div>
		</div>

		<div class="clear"></div>
	</header>

	<script>
		$(document).ready(function() {
				$.ajax({
					url: '/_component/countdown',
					success: function(data) {
						$("#countdown_contain").html(data);
					}
				});
		});
	</script>
