</head>

<body>
		{!-- Site announcement/alerts take priority over countdown
		{if site-alert != ""}
			{embed="_component/alert"}
		{if:else}
			<div id="countdown_contain"></div>
		{/if}
		--}
		<div id="header">
			<div id="nav-wrapper">
				<div class="container">
					<nav>
						<ul>
							<div class="grid_3">
								<li><h3>About</h3>
									<ul>
										<li><a href="#"><h4>Our Story</h4></a></li>
										<li><a href="#"><h4>Our Values</h4></a></li>
										<li><a href="#"><h4>Our Theology</h4></a></li>
										<li><a href="#"><h4>Our Structure (Governance)</h4></a></li>
										<li><a href="#"><h4>Our Team</h4></a></li>
									</ul>
								</li>
							</div>
							<div class="grid_3">
								<li><h3>Get Connected</h3>
									<ul>
										<li><a href="#"><h4>Life Groups</h4></a></li>
										<li><a href="#"><h4>Connections</h4></a></li>
										<li><a href="#"><h4>Classes</h4></a></li>
										<li><a href="#"><h4>Daily Devotionals</h4></a></li>
										<li><a href="#"><h4>Internships</h4></a></li>
									</ul>
								</li>
							</div>
							<div class="grid_3">
								<li><h3>Ministries</h3>
									<ul>
										<li><a href="#"><h4>Care</h4></a></li>
										<li><a href="#"><h4>College</h4></a></li>
										<li><a href="#"><h4>Creative</h4></a></li>
										<li><a href="#"><h4>Freedom</h4></a></li>
										<li><a href="#"><h4>Kids</h4></a></li>
										<li><a href="#"><h4>Leadership</h4></a></li>
										<li><a href="#"><h4>Women's</h4></a></li>
										<li><a href="#"><h4>Student</h4></a></li>
										<li><a href="#"><h4>Young Adult</h4></a></li>
									</ul>
								</li>
							</div>
							<div class="grid_3">
								<li><h3>Resources</h3>
									<ul>
										<li><a href="#"><h4>Media</h4></a></li>
										<li><a href="#"><h4>Calendar</h4></a></li>
										<li><a href="#"><h4>Give</h4></a></li>
										<li><a href="#"><h4>Blog</h4></a></li>
									</ul>
								</li>
							</div>
						</ul>
						<div class="clear"></div>
					</nav>
				</div>
			</div>

			<div class="clear"></div>

			<div id="search">
				<script>
				(function() {
					var cx = '002211976461621690451:1jkeqzwccus';
					var gcse = document.createElement('script');
					gcse.type = 'text/javascript';
					gcse.async = true;
					gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
							'//cse.google.com/cse.js?cx=' + cx;
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(gcse, s);
				})();
				</script>
				<div class="container">
					<gcse:searchbox-only resultsUrl="/search"></gcse:searchbox-only>
				</div>
				<div class="clear"></div>
			</div>

			<header>
				<a href="/"><div id="logo"><img src="/_img/logo.PNG"/></div></a>
				<a href="#nav-icon"><div id="nav-icon"><i class="fa fa-bars"></i></div></a>
				<a href="#search-icon"><div id="search-icon"><i class="fa fa-search"></i></div></a>
				<div class="clear"></div>
			</header>
		</div>

		<div class="header-filler"></div>
