input {
  width:100%;
}

label {
  font-size:20px;
}

input, textarea {
  font-size:20px;
}

#cover .inner h1 {
  font-size:45px;
}

#cover .inner h5 {
  font-size:35px;
  margin-top:0;
}

#story-line .inner h3 {
  font-size:35px;
}

#submit .inner {
  top:150px !important;
}

button {
  font-size:20px;
}
