* {
  font-family:'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B', Arial;
}

body {
  position:relative;
  top:0;
}

h1 {
  margin-top:0;
}

header {
  padding-top:5px;
  position:fixed;
  z-index:100000;
  width:100%;
}

input, textarea {
  border:none;
  padding:15px 15px;
  font-size:30px;
  color:#B0B0B0;
  -moz-transition: 0.3s ease-in color;
  -o-transition: 0.3s ease-in color;
  -webkit-transition: 0.3s ease-in color;
  transition: 0.3s ease-in color;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:hover, textarea:hover {
  color:#686868;
  -moz-transition: 0.3s ease-in color;
  -o-transition: 0.3s ease-in color;
  -webkit-transition: 0.3s ease-in color;
  transition: 0.3s ease-in color;
}

textarea {
  width:100%;
}

input[type=password] {
    -webkit-box-sizing : border-box;‌​
    -moz-box-sizing : border-box;
    box-sizing : border-box;
}

textarea {
  resize:none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::-webkit-input-placeholder {
   color: #B0B0B0;
}

:-moz-placeholder { /* Firefox 18- */
   color: #B0B0B0;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #B0B0B0;
}

:-ms-input-placeholder {
   color: #B0B0B0;
}

label {
  font-size:30px;
  color:white;
  display:inline-block;
}

label span {
  font-weight:bold;
  text-transform:uppercase;
}

button {
  border:none;
  border:1px solid white;
  background-color:transparent;
  padding:11px 16px;
  color:white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size:25px;
  font-weight:bold;
  display:inline-block;
}

button:hover {
  background-color:white;
  color:#477789;
}

#logo {
  margin-left:10px;
  float:left;
}

nav {
  position:fixed;
  z-index:1000;
  right:0;
  bottom:0;
  margin-bottom:10px;
  margin-right:15px;
  font-size:30px;
  color:rgba(255, 255, 255, 0.7);
}

nav #scroll-up, nav #scroll-down {
  float:right;
  -webkit-transition:0.3s color ease-in;
  -moz-transition:0.3s color ease-in;
  -o-transition:0.3s color ease-in;
  transition:0.3s color ease-in;
}

nav #scroll-up:hover, nav #scroll-down:hover {
  color:white;
  -webkit-transition:0.3s color ease-in;
  -moz-transition:0.3s color ease-in;
  -o-transition:0.3s color ease-in;
  transition:0.3s color ease-in;
  cursor:pointer;
}



#name-error:before, #story-error:before, #email-error:before, #find-error:before {
  content: '\A\A';
  white-space:pre;
}

.inner {
  color:white;
  text-align:center;
  font-size:50px;
  position:relative;
  top:30%;
}

#cover .inner h5 {
  font-weight:200;
  margin-top:-70px;
}

#story-line {
  background-color:#2D2D2D;
}

#story-line .inner h3 {
  font-weight:200;
}

#story-line .inner h3 span {
  font-weight:bold;
  text-transform:uppercase;
}

#name-error {
  display:block;
  margin-top:-20px;
}

#visit {
  background-color:#006f7c;
}

#find-error {
  display:block;
  margin-top:-40px;
}

#story-error {
  display:block;
  margin-top:-40px;
}

#email-error {
  display:block;
  margin-top:-40px;
}

#submit {
  background: url(/_img/rock.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:black;
}

#submit h1 {
  color:white;
  text-align:center;
  font-size:50px;
  margin:0;
  font-weight:200;
}

#submit h1 span {
  font-weight:bold;
  text-transform:uppercase;
}

/* Stories Admin */
#admin {
  background-color:#F3F3F3;
}

#admin header {
  padding:10px 0;
  background-color:rgba(70, 70, 70, 0.97);
  z-index:10000;
}

#admin-header-filler {
  height:48px;
  width:100%;
}

#admin-logo {
  float:left;
}

#save {
  float:right;
  font-size:16px;
  padding:5px 20px;
  background-color:#006f7c;
  border:0;
  border-radius:0;
  margin-right:20px;
  font-weight:normal;
}

#save:hover {
  color:#464646;
  background-color:white;
}

#admin-main {
  color:#686868;
  font-size:14px;
}

.story-row {
  padding:60px 0;
  background-color:white;
  word-wrap: break-word;
}

.story-row .grid_3, .story-row .grid_2, .story-row .grid_4 {
  min-height:10px;
}

.story-row-header {
  background-color:#e9e9e9;
}

.story-row-header i {
  color:#464646;
  -webkit-transition: 0.3s ease-in color;
  -moz-transition: 0.3s ease-in color;
  -o-transition: 0.3s ease-in color;
  transition: 0.3s ease-in color;
  font-size:24px;
  cursor:pointer;
  padding:5px;
}

.story-row-header i:first-child {
  margin:1px 5px 0px 5px;
}

.story-row-header i:hover {
  color:#B0B0B0;
  -webkit-transition: 0.3s ease-in color;
  -moz-transition: 0.3s ease-in color;
  -o-transition: 0.3s ease-in color;
  transition: 0.3s ease-in color;
}

.story-row-date {
  float:left;
  padding:10px;
  background-color:#464646;
  color:white;
  font-size:12px;
}

.story-row-new {
  float:left;
  padding:10px;
  background-color:#006f7c;
  color:white;
  font-size:12px;
  display:none;
  text-transform:uppercase;
}

.story-row-handle {
    float:right;
}

.story-row-remove {
    float:right;
}

.pad {
  padding:5px;
}

.remove {
  opacity:0.5;
  -moz-transition:opacity 0.3s ease-in;
  -o-transition:opacity 0.3s ease-in;
  -webkit-transition:opacity 0.3s ease-in;
  transition:opacity 0.3s ease-in;
}

#admin-main ul {
  margin:0;
  padding:0;
}

#admin-main ul li {
  list-style-type:none;
  margin-top:40px;
  -webkit-box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.3);
  border-radius:5px;
  display:inline-block;
  -moz-transition:opacity 0.3s ease-in;
  -o-transition:opacity 0.3s ease-in;
  -webkit-transition:opacity 0.3s ease-in;
  transition:opacity 0.3s ease-in;
}

#admin-main ul li:last-child {
  margin-bottom:40px;
}

#admin-main ul li a {
  color:#006f7c;
  font-weight:bold;
  -webkit-transition: 0.3s ease-in opacity;
  -moz-transition: 0.3s ease-in opacity;
  -o-transition: 0.3s ease-in opacity;
  transition: 0.3s ease-in opacity;
}

#admin-main ul li a:hover {
  opacity:0.7;
  -webkit-transition: 0.3s ease-in opacity;
  -moz-transition: 0.3s ease-in opacity;
  -o-transition: 0.3s ease-in opacity;
  transition: 0.3s ease-in opacity;
}

#admin-main h3 {
  margin-top:0;
}

#admin-login {
  text-align:center;
  position:relative;
  top:200px;
}

#admin-login h1 {
  color:#B0B0B0;
  text-transform:uppercase;
  font-weight:200;
}
