* {
  font-family:'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B', Arial;
}

h1 {
  margin-top:0;
}

header {
  padding-top:5px;
  position:fixed;
  z-index:1000;
  width:100%;
}

input, textarea {
  border:none;
  padding:15px 15px;
  font-size:30px;
  color:#686868;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea {
  width:100%;
}

input[type=password] {
    -webkit-box-sizing : border-box;‌​
    -moz-box-sizing : border-box;
    box-sizing : border-box;
}

textarea {
  resize:none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::-webkit-input-placeholder {
   color: #B0B0B0;
}

:-moz-placeholder { /* Firefox 18- */
   color: #B0B0B0;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #B0B0B0;
}

:-ms-input-placeholder {
   color: #B0B0B0;
}

label {
  font-size:30px;
  color:white;
  display:inline-block;
}

button {
  border:none;
  border:1px solid white;
  background-color:transparent;
  padding:11px 16px;
  color:white;
  border-radius:4px;
  font-size:25px;
  font-weight:bold;
  display:inline-block;
  margin-top:40px;
}

button:hover {
  background-color:white;
  color:#477789;
}

#logo {
  margin-left:10px;
  float:left;
}

nav a {
  display:block;
}

#name-error:before, #story-error:before, #email-error:before, #find-error:before {
  content: '\A\A';
  white-space:pre;
}

.inner {
  color:white;
  text-align:center;
  font-size:50px;
  position:relative;
}

#cover-1 {
  background: url(/_img/sailboat.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:black;
}

#cover-1 .inner h5 {
  font-weight:200;
  margin-top:-70px;
}

#cover-2 {
  background-color:#2D2D2D;
}

#cover-2 .inner h3 {
  font-weight:200;
}

#cover-2 .inner h3 span {
  font-weight:bold;
  text-transform:uppercase;
}

#cover-3 {
  background: url(/_img/typewriter.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:black;
}

#name-error {
  display:block;
  margin-top:-20px;
}

#cover-4 {
  background-color:#006f7c;
}

#find-error {
  display:block;
  margin-top:-40px;
}

#cover-5 {
  background: url(/_img/the_ledge.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:black;
}

#story-error {
  display:block;
  margin-top:-40px;
}

#cover-6 {
  background: url(/_img/rock.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:black;
}

#email-error {
  display:block;
  margin-top:-40px;
}

#submit {
  background: url(/_img/rock.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:black;
}

#submit h1 {
  color:white;
  text-align:center;
  font-size:50px;
  margin:0;
  font-weight:200;
}

#submit h1 span {
  font-weight:bold;
}
