* {
  font-family:'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B', Arial;
}

body {
  position:relative;
  top:0;
}

h1 {
  margin-top:0;
}

header {
  padding-top:5px;
  position:fixed;
  z-index:1000;
  width:100%;
}

input, textarea {
  border:none;
  padding:15px 15px;
  font-size:30px;
  color:#686868;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea {
  width:100%;
}

input[type=password] {
    -webkit-box-sizing : border-box;‌​
    -moz-box-sizing : border-box;
    box-sizing : border-box;
}

textarea {
  resize:none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::-webkit-input-placeholder {
   color: #B0B0B0;
}

:-moz-placeholder { /* Firefox 18- */
   color: #B0B0B0;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #B0B0B0;
}

:-ms-input-placeholder {
   color: #B0B0B0;
}

label {
  font-size:30px;
  color:white;
  display:inline-block;
}

label span {
  font-weight:bold;
  text-transform:uppercase;
}

button {
  border:none;
  border:1px solid white;
  background-color:transparent;
  padding:11px 16px;
  color:white;
  border-radius:4px;
  font-size:25px;
  font-weight:bold;
  display:inline-block;
}

button:hover {
  background-color:white;
  color:#477789;
}

#logo {
  margin-left:10px;
  float:left;
}

nav {
  position:fixed;
  z-index:1000;
  right:0;
  bottom:0;
  margin-bottom:10px;
  margin-right:15px;
  font-size:30px;
  color:rgba(255, 255, 255, 0.7);
}

nav #scroll-up, nav #scroll-down {
  float:right;
  -webkit-transition:0.3s color ease-in;
  -moz-transition:0.3s color ease-in;
  -o-transition:0.3s color ease-in;
  transition:0.3s color ease-in;
}

nav #scroll-up:hover, nav #scroll-down:hover {
  color:white;
  -webkit-transition:0.3s color ease-in;
  -moz-transition:0.3s color ease-in;
  -o-transition:0.3s color ease-in;
  transition:0.3s color ease-in;
  cursor:pointer;
}



#name-error:before, #story-error:before, #email-error:before, #find-error:before {
  content: '\A\A';
  white-space:pre;
}

.inner {
  color:white;
  text-align:center;
  font-size:50px;
  position:relative;
  top:30%;
}

#cover .inner h5 {
  font-weight:200;
  margin-top:-70px;
}

#story-line {
  background-color:#2D2D2D;
}

#story-line .inner h3 {
  font-weight:200;
}

#story-line .inner h3 span {
  font-weight:bold;
  text-transform:uppercase;
}

#name-error {
  display:block;
  margin-top:-20px;
}

#visit {
  background-color:#006f7c;
}

#find-error {
  display:block;
  margin-top:-40px;
}

#story-error {
  display:block;
  margin-top:-40px;
}

#email-error {
  display:block;
  margin-top:-40px;
}

#submit {
  background: url(/_img/rock.jpeg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:black;
}

#submit h1 {
  color:white;
  text-align:center;
  font-size:50px;
  margin:0;
  font-weight:200;
}

#submit h1 span {
  font-weight:bold;
  text-transform:uppercase;
}

/* Stories Admin */
#admin-main {
  color:#686868;
  font-size:14px;
}

.story-row {
  padding:70px 0;
  border-bottom:1px solid #F3F3F3;
  -webkit-transition: 0.3s ease-in background-color;
  -moz-transition: 0.3s ease-in background-color;
  -o-transition: 0.3s ease-in background-color;
  transition: 0.3s ease-in background-color;
}

.story-row:hover {
  background-color:#F3F3F3;
  -webkit-transition: 0.3s ease-in background-color;
  -moz-transition: 0.3s ease-in background-color;
  -o-transition: 0.3s ease-in background-color;
  transition: 0.3s ease-in background-color;
}

.story-row .grid_3, .story-row .grid_2, .story-row .grid_4 {
  min-height:10px;
}

.row-title {
  padding:70px 0;
  border-bottom:1px solid #F3F3F3;
}

#admin-main ul {
  margin:0;
  padding:0;
}

#admin-main ul li {
  list-style-type:none;
}

#admin-main ul li a {
  color:#006f7c;
  font-weight:bold;
  word-wrap: break-word;
  -webkit-transition: 0.3s ease-in opacity;
  -moz-transition: 0.3s ease-in opacity;
  -o-transition: 0.3s ease-in opacity;
  transition: 0.3s ease-in opacity;
}

#admin-main ul li a:hover {
  opacity:0.8;
  -webkit-transition: 0.3s ease-in opacity;
  -moz-transition: 0.3s ease-in opacity;
  -o-transition: 0.3s ease-in opacity;
  transition: 0.3s ease-in opacity;
}

#admin-main h3 {
  margin-top:0;
}

#admin-login {
  text-align:center;
  position:relative;
  top:200px;
}

#admin-login h1 {
  color:#B0B0B0;
}
