{embed="_includes/header" title="JourneyChurch.tv : Our Story"}

<div id="cover" class="page-cover bg-img">
  <div class="cover-inner">
    <h1>About</h1>
  </div>
</div>

<style>
  #cover {
    background-image:url("/_img/the_ledge.jpeg");
  }
</style>

<div id="what-we-believe" class="entry light-grey center">
  <div class="container">
    <div class="grid_12">
      <h1>What we believe</h1>
      <h3 class="thin">"God can do anything you know, far more than you could ever imagine or guess or request in your wildest dreams! He does it not by pushing us around but by working within us, his Spirit deeply and gently within us."
Ephesians 3:20 (THE MESSAGE)</h3>
    </div>
  </div>

  <div class="clear"></div>
</div>

<div id="story" class="entry bg-img center">
  <div class="container">
    <div class="grid_6 push_6">
      <p class="thin">Founding Senior Pastor Clark Mitchell had a dream since he was 18 years old. The dream was simple: to pastor a community of people that would believe God could do anything (Ephesians 3:20) and to share that belief with thousands of others in the next generation that didn’t know Him. For the coming years God would shape and mold a dream that would finally be birthed on August 5, 2001.<br><br>
    </div>

    <div class="clear"></div>

    <div class="grid_4 push_7">
      <a href="/pastorclark"><h4 class="transparent-button">About Pastor Clark</h4></a>
    </div>
  </div>

  <div class="clear"></div>
</div>

<div id="strategy" class="entry bg-color grey center">
  <div class="container">
    <div class="grid_12 center"><h1>Strategy</h1></div>

    <div class="grid_4 center strategy bg-img rounded">
      <h3 class="bold">Honor God</h3>
    </div>

    <div class="grid_4 center strategy bg-img rounded">
      <h3 class="bold">Build Healthy Relationships</h3>
    </div>

    <div class="grid_4 center strategy bg-img rounded">
      <h3 class="bold">Have A Blast</h3>
    </div>
  </div>

  <div class="clear"></div>
</div>

<div id="vision" class="entry center bg-img">
  <div class="container">
    <div class="grid_12">
      <h1>Vision</h1>
      <h2>Seeing cities transformed, one life at a time.</h2>
    </div>
  </div>

  <div class="clear"></div>
</div>

{embed="_includes/footer"}
