{embed="_includes/header" title="JourneyChurch.tv : Our Story"}

<div id="page-cover" class="bg-img">
  <h1>Our Story</h1>
</div>

<div id="page-nav">
  <div class="container">
    <ul>
      <li><a href="/about" class="active">Our Story</a></li>
      <li><a href="/about/values">Our Values</a></li>
      <li><a href="/about/theology">Our Theology</a></li>
      <li><a href="/about/structure">Our Structure</a></li>
      <li><a href="/about/team">Our Team</a></li>
      <li><a href="/about/locations">Our Locations</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>

<div class="container entry">
  <div class="grid_5">
    <div class="circle"><img src="/_img/normancampus.jpg"/></div>
  </div>

  <div class="grid_6 push_1">
    <h2 style="font-weight:lighter;color:#686868">"God can do anything you know, far more than you could ever imagine or guess or request in your wildest dreams! He does it not by pushing us around but by working within us, his Spirit deeply and gently within us."</h2>
    <p style="color:#989d00;"> - EPHESIANS 3:20 (THE MESSAGE)</p>
  </div>
  <div class="clear"></div>
</div>

<div id="story" class="entry bg-img">
  <div class="container">
    <div class="grid_6 push_6">
      <p>Founding Senior Pastor Clark Mitchell had a dream since he was 18 years old. The dream was simple: to pastor a community of people that would believe God could do anything (Ephesians 3:20) and to share that belief with thousands of others in the next generation that didn’t know Him. For the coming years God would shape and mold a dream that would finally be birthed on August 5, 2001.</p><br>
      <p>On August 5, 2001 Pastor Clark, his wife Robin, and 34 others gathered in a living room. In that room were 36 people who wanted to see God move in a new way in the Norman-South Oklahoma City area. The dream was simple: To see a city transformed one life at a time and to see a generation changed.</p>
    </div>

    {!--<div class="grid_4 push_1">
      <div class="circle"><img src="/_img/PastorClark.jpg"/></div>
    </div>--}

    <div class="clear"></div>
  </div>
</div>

<div class="container entry">
  <div class="grid_12">
    <h1>Honor God, build healthy relationships and have a blast!</h1>
    <h2 style="color:#006f7c">STRATEGY</h2>
    <p>What would happen next would be just another sign of God’s faithfulness and His true ability to do far more than we could ever imagine, guess, or request in our wildest dreams! What began with 36 would, in one month’s time, become more than 550 people pursuing the heart of God and chasing after those who did not know Him!
But there was more … God would not only rally people, He would provide resources! In early October, JourneyChurch would learn that Walmart would allow them to use a 120,000 sf building in the heart of Norman for free. So for our first 20 months we were known as the “Walmart Church,” which we didn’t mind at all because their generosity was equal to a $1.2 million donation!</p>
  </div>
  <div class="clear"></div>
</div>

<div class="entry-shade">
  <div class="container">
    <div class="grid_12">
      <h1>Seeing cities transformed, one life at a time.</h1>
      <h2 style="color:#006f7c">Vision</h2>
      <p>Today JourneyChurch is a community of thousands of people committed to creating cultures where people can experience God and His life-transforming power. We believe that as we help people live into their God-given potential and dreams, empower people for Biblical leadership, and help people break the cycle of poverty in their lives that our dream will become a reality. We will see cities transformed, one life at a time.</p>
    </div>
    <div class="clear"></div>
  </div>
</div>

{embed="_includes/footer"}
