{embed="_includes/header" title="JourneyChurch.tv : Our Structure"}

{embed="_component/embed-page" url-title="structure"}

<div id="page-nav">
  <div class="container">
    <ul>
      <li><a href="/about">Our Story</a></li>
      <li><a href="/about/values">Our Values</a></li>
      <li><a href="/about/theology">Our Theology</a></li>
      <li><a href="/about/structure" class="active">Our Structure</a></li>
      <li><a href="/about/team">Our Team</a></li>
      <li><a href="/about/locations">Our Locations</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>

<div class="page-nav-filler"></div>

<div id="structure">
  <div class="container entry">
    <div class="grid_12 structure-level">
      <h1><span class="flip">1</span>) Advisors</h1>
      <p>The Apostolic Advisors are pastors of respected congregations and ministries who love JourneyChurch, its pastor and are willing to provide spiritual protection to the church. They may be called in to help in accountability matters relating to the Senior Pastor if requested to do so by the Elders or the Senior Leadership Team.</p>
    </div>

    <div class="grid_12 structure-level">
      <h1><span class="flip">2</span>) Senior Pastor</h1>
      <p>The Senior Pastor’s role is to lead and feed. His responsibility is to seek the heart of God for the vision of the church. This vision is affirmed by the Elders and further developed by the church staff, whom the Senior Pastor oversees. He is also responsible for ensuring that all teaching and preaching represents the truth of the Bible and reflects the heart of the church.</p>
    </div>

    <div class="clear"></div>

    <div class="grid_12 structure-level">
      <h1><span class="flip">3</span>) Elders</h1>
      <p>JourneyChurch Elders partner with the Senior Pastor in the development of the church, both spiritually and corporately. These men support the church staff as the primary protectors and encouragers for a positive spiritual climate within the church body. The Elders serve in both a governing capacity and a spiritual capacity, creating and maintaining stability in potentially negative situations.</p>
    </div>

    <div class="grid_12 structure-level">
      <h1><span class="flip">4</span>) Staff and Volunteers</h1>
      <p>For ministry to happen at JourneyChurch, we rely on capable and committed staff and volunteers. We are committed to recruiting and retaining the highest caliber staff possible. Additionally, the church was built and continues to thrive because of the efforts of our volunteers who fill a variety of roles within the church.</p>
    </div>

    <div class="clear"></div>
  </div>
</div>

<div class="clear"></div>

{embed="_includes/footer"}
