{embed="_includes/header" title="JourneyChurch.tv : Our Team"}

<div id="cover" class="page-cover bg-img">
  <div class="cover-inner">
    <h1 class="fade">Team</h1>
  </div>
</div>

<style>
  #cover {
    background-image:url("/_img/bamboo.jpeg");
  }
</style>

{if segment_3}
<div class="entry">
  <div class="container">
    {exp:channel:entries channel="Team" url_title="{segment_3}"}
    <div class="team-member-info">
      <div class="grid_4">
        <div class="team-photo"><img src="{team-photo}"/></div>
      </div>
      <div class="grid_8 omega">
        <h1>{title}</h1>
        <h3>{team-title}</h3>
        <p>{team-bio}</p>
        <ul>
          {if team-email}<li><a href="mailto:{team-email}"><i class="fa fa-envelope-o fa-2x"></i></a></li>{/if}
          {if team-fb}<li><a href="https://www.facebook.com/{team-fb}"><i class="fa fa-facebook-official fa-2x"></i></a></li>{/if}
          {if team-twitter}<li><a href="https://www.twitter.com/{team-twitter}"><i class="fa fa-twitter fa-2x"></i></a></li>{/if}
          {if team-instagram}<li><a href="https://www.instagram.com/{team-instagram}"><i class="fa fa-instagram fa-2x"></i></a></li>{/if}
        </ul>
      </div>
    </div>
    {/exp:channel:entries}
  </div>

  <div class="clear"></div>
</div>
{if:else}
  <div id="clark-team" class="entry">
    <div class="container">
      <div class="grid_4">
        <img src="/_img/team/PastorClark.jpg"/>
      </div>

      <div class="grid_8">
        <h2 class="dark-grey">Pastor Clark</h2>
        <p>At 15, Clark Mitchell knew God was shaping his desire to lead and over the years the Holy Spirit developed his deep-seated passion for people. His zeal for leading the next generation motivated him to begin JourneyChurch.tv with his wife and 34 others in 2001...</p><br>
        <a href="/pastorclark">About Pastor Clark <i class="fa fa-angle-right"></i></a>
      </div>
    </div>

    <div class="clear"></div>
  </div>
  {exp:channel:categories channel="Team" show="73|81|82|82|77|79|76|78|80"}
    {if category_id != 73}
      <div id="team-{category_id}" class="entry team">
        <div class="container">
          <h1>{category_name}</h1>
          {embed="_component/team-embed" catid="{category_id}"}
          <div class="clear"></div>
        </div>

        <div class="clear"></div>
      </div>
    {/if}
  {/exp:channel:categories}
{/if}

{embed="_includes/footer"}
