{embed="_includes/header" title="JourneyChurch.tv : Our Team"}

<div id="page-cover">
  <h1>Our Team</h1>
</div>

<div id="about-nav">
  <div class="container">
    <ul>
      <li><a href="/about">Our Story</a></li>
      <li><a href="/about/values">Our Values</a></li>
      <li><a href="/about/theology">Our Theology</a></li>
      <li><a href="/about/structure">Our Structure</a></li>
      <li><a href="/about/team" class="active">Our Team</a></li>
      <li><a href="/about/locations">Our Locations</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>

<div class="container entry">
  {if segment_3}
    {exp:channel:entries channel="Team" url_title="{segment_3}"}
    <div class="team-member-info">
      <div class="grid_5">
        <div class="team-photo"><img src="{team-photo}"/></div>
      </div>
      <div class="grid_7 omega">
        <h1>{title}</h1>
        <h3>{team-title}</h3>
        <p>{team-bio}</p><br>
        <ul>
          {if team-email}<li><a href="mailto:{team-email}"><i class="fa fa-envelope-o fa-2x"></i></a></li>{/if}
          {if team-fb}<li><a href="https://www.facebook.com/{team-fb}"><i class="fa fa-facebook-official fa-2x"></i></a></li>{/if}
          {if team-twitter}<li><a href="https://www.twitter.com/{team-twitter}"><i class="fa fa-twitter fa-2x"></i></a></li>{/if}
          {if team-instagram}<li><a href="https://www.instagram.com/{team-instagram}"><i class="fa fa-instagram fa-2x"></i></a></li>{/if}
        </ul>
      </div>
    </div>
    {/exp:channel:entries}
  {if:else}
    <div id="team-nav" class="grid_3">
      <div id="staff">
        {exp:channel:categories channel="Team" show="not 75"}
          <li><a id="team-{category_id}-anchor" href="#staff">{category_name}</a><li>
        {/exp:channel:categories}
      </div>

      <div id="demographic-pastors">
        {exp:channel:categories channel="Team" show="not 73"}
          <li><a id="team-{category_id}-anchor" href="#staff">{category_name}</a><li>
        {/exp:channel:categories}
      </div>
    </div>

    <div class="grid_9">
      {exp:channel:categories channel="Team"}
        <div id="team-{category_id}" class="team">{embed="_component/team-embed" catid="{category_id}"}</div>

        <script>
          $(document).ready(function() {
            $('.team-member').addClass('omega');
            $('.team').css('display', 'none');

            $('#team-73').css('display', 'block');

            $('#team-{category_id}-anchor').click(function() {
              $('.team').css('display', 'none');
              $('#team-{category_id}').fadeIn('fast');
            });
          });
        </script>
      {/exp:channel:categories}
    </div>
  {/if}
  <div class="clear"></div>
</div>

<div class="clear"></div>

{embed="_includes/footer"}
