{embed="_includes/header" title="JourneyChurch.tv : Our Values"}

{embed="_component/embed-page" url-title="values"}

<div id="values" class="entry">
  <div class="container">
    <div class="grid_6">
      <img src="/_img/gods-word.jpg"/>
      <h3>God's Word</h3>
      <p>This house values the divine power of God’s Word to speak truth, teach us how to live, be the foundation of our beliefs, and inspire the purpose and calling of why we are here.</p>
    </div>

    <div class="grid_6">
      <img src="/_img/gods-house.jpg"/>
      <h3>God's House</h3>
      <p>This house represents the family of God established on earth to be planted together in our city to experience biblical community and to do the work of the believers.</p>
    </div>

    <div class="clear"></div>

    <div class="grid_6">
      <img src="/_img/spirit-led.jpg"/>
      <h3>Spirit-led Life</h3>
      <p>This house clings to the power of the Holy Spirit to counsel, empower, and guide us to lead healthy God honoring lives of surrender, worship, and faith.</p>
    </div>

    <div class="grid_6">
      <img src="/_img/identity.jpg"/>
      <h3>Identity</h3>
      <p>This house values the divine power of God’s Word to speak truth, teach us how to live, be the foundation of our beliefs, and inspire the purpose and calling of why we are here.</p>
    </div>

    <div class="clear"></div>

    <div class="grid_6">
      <img src="/_img/honor.jpg"/>
      <h3>Honor</h3>
      <p>This house desires to embody a spirit of honor in all that we do. We seek to honor the authorities in our lives and to abundantly give glory to our Lord.</p>
    </div>

    <div class="grid_6">
      <img src="/_img/generosity.jpg"/>
      <h3>Generosity</h3>
      <p>This house lives with a spirit of generosity. We faithfully trust the Lord by giving our first fruits to him and allowing his spirit to guide us to give lavishly and sacrificially to the needs around us and we trust for his blessings in and through us.</p>
    </div>

    <div class="clear"></div>

    <div class="grid_6">
      <img src="/_img/influence.jpg"/>
      <h3>Influence</h3>
      <p>This house humbly seeks to influence our city. By being the salt and light we hope to influence the culture around us to a transformative, compassionate community responsive to the love of God.</p>
    </div>

    <div class="grid_6">
      <img src="/_img/creativity.jpg"/>
      <h3>Creativity</h3>
      <p>This house is an expression of the creative nature that lives within it. We look to create creators by empowering people to use art, media, music, and other means of creative expression to communicate to all facets of the culture around us.</p>
    </div>

    <div class="clear"></div>

    <div class="grid_6">
      <img src="/_img/story.jpg"/>
      <h3>Story</h3>
      <p>This house will tell the stories happening within it. We exist to join people to God’s missional story and to help people passionately share their story to the world around them.</p>
    </div>
  </div>

  <div class="clear"></div>
</div>

<div class="clear"></div>

{embed="_includes/footer"}
