/*
  Colors:
  blue: 81d0d8
*/

html, body {
  min-height:100%;
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-attachment: scroll;
  background-image:black;
}

.vid-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.vid-responsive iframe, .vid-responsive object, .vid-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner {
  background-color:#81d0d8;
  position:absolute;
  height:100%;
  width:100%;
  display:table;
}

.banner .banner-inner {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  color:white;
}

.wrapper {
  position:absolute;
  top:100%;
  width:100%;
}

#outline-wrapper {
  height:80%;
}

.title {

}

.outline-wrapper {
  height:100%;
}

.outline img {
  position:absolute;
  max-height:100%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

#social {
  padding:100px 0;
}
