.circle {
  padding:0 !important;
}

#cover h1, #page-cover h1 {
  font-size:35px;
  top:80px !important;
}

#nav-wrapper {
  padding:25px 0 5px 0;
}

#full-nav {
  display:none;
}

#mobile-nav {
  display:block;
}

#mobile-nav ul {
  margin-top:0;
  margin-bottom:0;
}

#mobile-nav ul .grid_3 {
  height:auto;
  clear:both;
  overflow:hidden;
}

#mobile-nav ul li {
  margin-left:15px;
}

#mobile-nav ul li h3 {
  color:white;
  font-size:18px;
  margin-top:0;
  font-weight:bold;
  text-transform:uppercase;
}

#mobile-nav ul ul {
  display:none;
  overflow:hidden;
  margin-top:-20px;
}

#mobile-nav ul li ul li {
  display:block;
  margin-top:17px;
  margin-bottom:17px;
}

#mobile-nav ul li ul li a:hover {
  opacity:1;
}

#mobile-nav ul li ul li a h4 {
  font-size:15px;
}

#mobile-nav ul li ul li a h4, #mobile-nav ul li ul li a h4:visited {
  color:#686868;
  display:inline;
  padding:5px 0;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

#mobile-nav ul li ul li a h4:hover, #mobile-nav ul li ul li a h4:active {
  color:white;
}

#mobile-nav ul li ul li a:hover {
  text-decoration:none !important;
}

#cover {
  -webkit-background-size:100% auto;
  -moz-background-size:100% auto;
  -o-background-size:100% auto;
  background-size:100% auto;
  background-attachment:scroll;
  height:250px !important;
  overflow:hidden;
}

#cover h2 {
  display:none;
}

#cover .container {
  overflow:visible;
}

#page-cover {
  -webkit-background-size:100% auto;
  -moz-background-size:100% auto;
  -o-background-size:100% auto;
  background-size:100% auto;
  background-attachment:scroll;
  height:200px;
  overflow:hidden;
}

#page-cover h1 {
  top:100px;
}

#who-are-we {
  margin-bottom:50px;
}

#who-are-we .button {
  margin-top:0;
}

.caption {
  padding-left:0 !important;
  padding-right:0 !important;
  margin-left:13px !important;
  margin-bottom:50px;
}

.caption:last-child {
  margin-bottom:0;
}

.caption-description {
  height:150px;
}

#page-cover h1 {
  font-size:40px;
}

#page-nav ul li {
  display:block;
  padding:10px 0;
  text-align:center;
}

#page-nav ul li a {

}

#page-nav .active {
  padding-bottom:0;
  border-bottom:none;
}

#story {
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  background-attachment:scroll;
}

#values img {
  -webkit-filter:grayscale(0%) !important;
  filter:grayscale(0%) !important;
}

#nav_categories > li:first-child, #nav_categories > li:nth-child(2), #nav_categories > li:nth-child(3) {
  margin-top:0;
  margin-bottom:0;
}

#team-nav ul li a i {
  display:block;
  float:right;
  margin-top:5px;
}

.team-member {
  height:575px;
}

.team-photo {
  height:416px;
}

.team-member-info .team-photo {
  height:416px;
}

.connect-entry-right h1, .connect-entry-right p {
  padding-left:0;
  margin-top:0;
}

.connect-entry-left h1, .connect-entry-left p {
  padding-right:0;
  margin-top:0;
}

#connect .grid_6 {
  height:auto;
}

.connect-img, .connect-img-mobile {
  height:250px !important;
  margin:30px 0 50px 0;
}

.connect-img h3 {
  margin-top:100px;
}

#connect-connections .connect-img, #connect-devos .connect-img {
  display:none !important;
}

.connect-img-mobile {
  display:block;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:black;
  text-align:center;
}

#connect-small-groups .connect-img {
  background-image: url("/_img/annualreport/lifegroups.jpg");
}

#connect-connections .connect-img-mobile {
  background-image: url("/_img/annualreport/serving.jpg");
}

#connect-classes .connect-img {
  background-image: url("/_img/annualreport/equip.jpg");
}

#connect-devos .connect-img-mobile {
  background-image: url("/_img/annualreport/attendance.jpg");
}

#connect-interns .connect-img {
  background-image: url("/_img/annualreport/letter.jpg");
}

.connect-img-mobile h3 {
  text-transform:uppercase;
  color:black;
  margin-top:100px;
  padding:10px;
  border:3px solid white;
  background-color:white;
}

.connect-img-mobile .hvr-sweep-to-right:before {
  background:white;
}

.connect-img-mobile .hvr-sweep-to-right:hover, .connect-img-mobile .hvr-sweep-to-right:focus, .connect-img-mobile .hvr-sweep-to-right:active {
  color: black;
}

.group-filler {
  height:auto;
  background-size:auto 100%;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  background-attachment:scroll;
}

#staff ul ul, #demographic-pastors ul ul {
  display:none;
}

footer #footer-nav .grid_3 {
  padding-right:0;
  width:45%;
  margin-bottom:10px;
}

footer #footer-nav .grid_3:nth-child(2) {
  float:right !important;
  padding-left:0;
}

footer #footer-nav .grid_3:nth-child(4) {
  float:right !important;
  padding-left:0;
}
