/* Global */
h1 {
  font-size:2.3em;
}

h2 {
  font-size:1.8em;
}

h3 {
  font-size:1.5em;
}

blockquote {
  padding-left:0;
  padding-right:0;
}


/* Covers */
#cover {
  height:350px !important;
}

#cover .cover-inner img {
  width:150px;
}

.home-cover .cover-inner {
  top:90px;
}

.home-cover .cover-inner h2 {
  margin:0;
  font-size:20px;
}

.page-cover .cover-inner h1 {
  font-size:40px;
}


/* Home */
#who-are-we {
  margin-bottom:50px;
}

#who-are-we .button {
  margin-top:0;
}


/* Values */
#values img {
  -webkit-filter:grayscale(0%) !important;
  filter:grayscale(0%) !important;
}


/* Team */
#nav_categories h1 {
  text-align:center;
}

.team-member {
  height:575px;
}

.team-photo {
  height:416px;
}

.team-member-info .team-photo {
  height:416px;
  margin-bottom:15px;
}

.team-photo {
  border-radius:50%;
}

.team-member p {
  font-size:16px;
}


/* Connect */
.connect-entry {
  height:auto !important;
  margin-bottom:100px;
}

.connect-entry h3 {
  margin-top:20px;
}

.connect-entry:last-child {
  margin-bottom:0;
}

.connect-img-mobile {
  display:block;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:scroll;
}

.connect-img, .connect-img-mobile {
  height:200px !important;
  -moz-background-size:contain;
  -webkit-background-size:contain;
  background-size:contain;
}

#connect-small-groups .connect-img, #connect-classes .connect-img, #connect-interns .connect-img {
  display:none;
}

#connect-small-groups .connect-img-mobile {
  background-image: url("/_img/annualreport/lifegroups.jpg");
}

#connect-classes .connect-img-mobile {
  background-image: url("/_img/annualreport/equip.jpg");
}

#connect-interns .connect-img-mobile {
  background-image: url("/_img/annualreport/letter.jpg");
}


.group-filler {
  height:auto;
  background-size:auto 100%;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  background-attachment:scroll;
}

#group-events .group-event-entry {
  padding:0;
  margin-left:16px;
}

#classes .class-entry {
  padding:0 !important;
  margin-left:20px;
}

.span-border, .span-border-2 {
  height:76px;
}

.connect-entry p {
  font-size:16px;
}

#devos-nav {
  display:none;
}

#devos-share .pull-right {
  float:none !important;
}

#devos-share .st_fblike_hcount, #devos-share .st_facebook_hcount, #devos-share .st_twitter_hcount {
  margin:10px 0;
  display:block;
}

#mobile-devos-nav {
  display:block;
}

footer {
  text-align:center;
}

footer .social-media {
  text-align:center;
}
