.button {
  margin-left:0px !important;
}

#cover h1 {
  font-size:25px;
}

#page-cover h1 {
  font-size:30px;
}

#home-locations img {
  height:260px;
}

#theology h1 {
  font-size:34px;
}

.team-member {
  height:425px;
}

.team-photo {
  height:260px;
}

.team-member-info .team-photo {
  height:260px;
}

.group-filler .button {
  margin-left:0 !important;
  margin-top:20px;
}

#classes .class-entry .inner {
  height:330px;
}

#classes .class-entry .inner p {
 font-size:13px;
}

#classes .class-entry-cover {
  height:80px;
}

#classes .class-entry-cover h3 {
  font-size:18px;
  padding-top:15px;
}

#classes .class-entry-cover h4 {
  font-size:14px;
}

footer #footer-nav .grid_3 {
  padding:0 !important;
  width:50%;
}
