#cover h1 {
  font-size:25px;
}

#page-cover h1 {
  font-size:30px;
}

#home-locations img {
  height:260px;
}

.team-member {
  height:425px;
}

.team-photo {
  height:260px;
}

.team-member-info .team-photo {
  height:260px;
}

.group-filler .button {
  margin-left:0 !important;
  margin-top:20px;
}

footer #footer-nav .grid_3 {
  padding-left:0;
}
