/*
  Site Colors:
    Green:	#989d00
    Blue:	#006f7c
    Darkest Grey: #282828
    Darker Grey: #2D2D2D
    Dark Grey: #464646
    Grey: #686868
    Light Grey: #B0B0B0
    Lighter Grey: #D5D5D5
    Lightest Grey: #F3F3F3

  Fonts:
    Main: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B';
*/

@font-face {
    font-family: 'aleolight';
    src: url('/_font/aleo-light-webfont.eot');
    src: url('/_font/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-light-webfont.woff') format('woff'),
         url('/_font/aleo-light-webfont.ttf') format('truetype'),
         url('/_font/aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleoregular';
    src: url('/_font/aleo-regular-webfont.eot');
    src: url('/_font/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-regular-webfont.woff') format('woff'),
         url('/_font/aleo-regular-webfont.ttf') format('truetype'),
         url('/_font/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleobold';
    src: url('/_font/aleo-bold-webfont.eot');
    src: url('/_font/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-bold-webfont.woff') format('woff'),
         url('/_font/aleo-bold-webfont.ttf') format('truetype'),
         url('/_font/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'SocialGothic';
	src: url('/_font/social-gothic.eot');
	src: url('/_font/social-gothic.eot?#iefix') format('embedded-opentype'),
	     url('/_font/social-gothic.woff') format('woff'),
	     url('/_font/social-gothic.ttf') format('truetype'),
	     url('/_font/social-gothic.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B';
  margin:0;
  padding:0;
}

h1 {
  font-size:2.4em;
}

h1, h4 {
  color:#464646;
}

h2, h5 {
  color:#B0B0B0;
}

h3, h6 {
  color:#989d00;
}

p {
  color:#686868;
  font-size:16px;
  line-height:28px;
}

p i {
  color:#686868;
  font-size:20px;
}

a, a:link, a:visited, a:active {
  color:#B0B0B0;
  text-decoration:none;
  /*-webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition:opacity 0.2s ease-in;*/

}

a:hover {
  color:#D5D5D5;
}

ul {
  list-style-type:none;
  padding-left:0;
}

strong {
  color:#464646;
}

.fa-chevron-right {
  color:#989d00;
}

.button {
  padding:10px 15px;
  border:2px solid #464646;
  border-radius:4px;
  color:#464646;
  display:inline-block;
  text-align:center;
  margin:20px 0;
  font-weight:bold;
  -webkit-transition:border-color 0.1s ease-in, background-color 0.1s ease-in;
  -moz-transition:border-color 0.1s ease-in, background-color 0.1s ease-in;
  -o-transition:border-color 0.1s ease-in, background-color 0.1s ease-in;
  transition:border-color 0.1s ease-in, background-color 0.1s ease-in;
}

.button:hover, .button:active {
  background-color:#2D2D2D;
  border-color:#2D2D2D;
  color:white;
  -webkit-transition:border-color 0.1s ease-in, background-color 0.1s ease-in;
  -moz-transition:border-color 0.1s ease-in, background-color 0.1s ease-in;
  -o-transition:border-color 0.1s ease-in, background-color 0.1s ease-in;
  transition:border-color 0.1s ease-in, background-color 0.1s ease-in;
}

.button .fa-chevron-right {
  color:#464646;
}

.hvr-sweep-to-right:before {
  background:#2D2D2D !important;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color:white;
}

.center {
  text-align:center;
}

.entry {
  padding:55px 0;
}

.entry-shade {
  padding:55px 0;
  background-color:#F3F3F3;
}

.circle img {
  border-radius:50%;
  overflow:hidden;
  clip: rect(0px,500px,500px,0px);
}

#logo {
  float:left;
  color:white;
  margin:0 0 0 15px;
}

header {
  border-bottom:1px solid transparent;
  padding:7px 0;
  -webkit-transition:background-color 0.3s ease-in, border-color 0.3s ease-in;
  -moz-transition:background-color 0.3s ease-in, border-color 0.3s ease-in;
  -o-transition:background-color 0.3s ease-in, border-color 0.3s ease-in;
  transition:background-color 0.3s ease-in, border-color 0.3s ease-in;
  position:fixed;
  width:100%;
  z-index:100;
}

#countdown_contain {
  float:right;
  margin:13px 20px 0 0;
  border-right: 1px solid white;
  padding-right:20px;
  display:none;
}

#countdown_contain .live a {
  color:white;
  -webkit-transition:opacity 0.2s ease-in;
  -moz-transition:opacity 0.2s ease-in;
  -o-transition:opacity 0.2s ease-in;
  transition:opacity 0.2s ease-in;
}

#countdown_contain .live a:hover {
  text-decoration:none;
  opacity:0.6;
  -webkit-transition:opacity 0.2s ease-in;
  -moz-transition:opacity 0.2s ease-in;
  -o-transition:opacity 0.2s ease-in;
  transition:opacity 0.2s ease-in;
}

#countdown_contain .notlive {
  color:white;
}

#nav-icon {
  float:right;
  margin:5px 15px 0 0;
  font-size:28px;
}

#nav-icon i {
  color:white;
}

#nav-info {
  font-size:24px;
}

#nav-info ul {
  margin-top:20px !important;
}

#nav-info ul i {
  float:left;
  margin:0 9px;
  color:#686868;
  -webkit-transition:color 0.3s ease-in;
  -moz-transition:color 0.3s ease-in;
  -o-transition:color 0.3s ease-in;
  transition:color 0.3s ease-in;
}

#nav-info ul i:hover, #nav-info ul i:active {
  color:white;
  -webkit-transition:color 0.3s ease-in;
  -moz-transition:color 0.3s ease-in;
  -o-transition:color 0.3s ease-in;
  transition:color 0.3s ease-in;
}

#nav-info ul i:first-child {
  margin-left:0;
}

#nav-info ul #search-icon {
  float:right;
}

#nav-info ul li {
  display:inline;
}

#nav-wrapper ul {
  margin:30px 30px 0 30px;
}

#nav-wrapper ul li h3 {
  color:white;
  font-size:20px;
  margin-top:0;
  font-weight:bold;
  text-transform:uppercase;
  cursor:pointer;
}

#nav-wrapper ul ul {
  display:none;
  overflow:hidden;
  margin-top:-20px;
  margin-left:15px;
  padding-top:0;
  padding-bottom:10px;
}

#nav-wrapper ul li ul li {
  display:block;
  margin-top:17px;
  margin-bottom:17px;
}

#nav-wrapper ul li ul li a:hover {
  opacity:1;
}

#nav-wrapper ul li ul li a h4 {
  font-size:15px;
}

#nav-wrapper ul li ul li a h4, #nav-wrapper ul li ul li a h4:visited {
  color:#686868;
  display:inline;
  padding:5px 0;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

#nav-wrapper ul li ul li a h4:hover, #nav-wrapper ul li ul li a h4:active {
  color:white;
}

#nav-wrapper ul li ul li a:hover {
  text-decoration:none !important;
}

.sticky-nav {
  position:fixed;
  width:100%;
  z-index:75;
  padding:0 !important;
  border-bottom:1px solid #f7f7f7;
  background-color:white !important;
  -webkit-transition:background-color 0.3s ease-in;
  -moz-transition:background-color 0.3s ease-in;
  -o-transition:background-color 0.3s ease-in;
  transition:background-color 0.3s ease-in;
}

.gsc-search-button {
  font-weight:normal !important;
  background-color:#006f7c !important;
}

.gsc-search-button, input.gsc-search-button {
  border:0 !important;
}

#cover {
  /*background: url(/_img/easter.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  background-color:black;
  overflow:hidden;
}

#cover-video {
  top:-224px;
}

#page-cover {
  height:375px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  background-color:black;
}

#cover h1 {
  top:255px;
}

#page-cover h1 {
  top:165px;
}

#cover h1, #page-cover h1 {
  margin:0;
  font-size:70px;
  text-align:center;
  color:white;
  position:relative;
  text-transform:uppercase;
  opacity:0;
  z-index:10;
}

#cover h2 {
  top:315px;
}

#page-cover h2 {
  top:275px;
}

#cover h2, #page-cover h2 {
  margin:0;
  font-size:20px;
  text-align:center;
  color:white;
  position:relative;
  opacity:0;
  z-index:10;
}

#cover .button, #page-cover .button {
  border-color:white;
  color:white;
  text-transform:uppercase;
}

#cover .button:hover, #page-cover .button:hover {
  background-color:white;
  color:#2D2D2D;
}

#page-nav {
  padding:5px 0;
  background-color:#F3F3F3;
  -o-transition: padding 0.2s ease-in, background-color 0.25s ease-in;
  -moz-transition: padding 0.2s ease-in, background-color 0.25s ease-in;
  -webkit-transition: padding 0.2s ease-in, background-color 0.25s ease-in;
  transition:padding 0.2s ease-in, background-color 0.25s ease-in;
  overflow:hidden;
}

#page-nav ul {
  text-align:center;
}

#page-nav ul li {
  display:inline-block;
  padding:0px 10px;
  margin:0 auto;
}

#page-nav ul li a {
  color:#B0B0B0;
  -o-transition: color 0.2s ease-in, padding 0.2s ease-in;
  -moz-transition: color 0.2s ease-in, padding 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in, padding 0.2s ease-in;
  transition:color 0.2s ease-in, padding 0.3s ease-in;
  padding:22px 0 23px 0;
  font-weight:bold;
}

#page-nav .active {
  color:#D5D5D5 !important;
}

#page-nav ul li a:hover {
  -o-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  transition:color 0.2s ease-in;
  color:#686868;
  text-decoration:none;
}

.page-nav-filler {
  display:none;
  position:relative;
  width:100%;
}

#who-are-we, #home-locations {
  text-align:center;
}

#who-are-we h1, #home-locations h1 {
  margin-bottom:30px;
}

#home-locations .active i {
  background-color:#464646 !important;
}

#home-locations #location-info-wrapper p, #home-locations #location-info-wrapper h3 {
  color:white;
}

#home-locations .location-field {
  display:none;
}

#home-locations #location-time {
  display:block;
}

#home-locations .location-icon i {
  color:white;
  background-color:#F3F3F3;
  padding:5.5px;
  margin-left:5px;
  margin-right:5px;
  width:30px;
  border-radius:50%;
  font-size:30px;
  -webkit-transition:background-color 0.1s ease-in;
  -moz-transition:background-color 0.1s ease-in;
  -o-transition:background-color 0.1s ease-in;
  transition:background-color 0.1s ease-in;
}

#home-locations i:hover {
  -webkit-transition:background-color 0.1s ease-in;
  -moz-transition:background-color 0.1s ease-in;
  -o-transition:background-color 0.1s ease-in;
  transition:background-color 0.1s ease-in;
  background-color:#B0B0B0;
}

#location-info {
  padding:30px 0;
}

.location-info-entry {
  display:none;
}

#location-time {
  display:block;
}

#boxes {
  background-color:#F3F3F3;
}

#boxes h1 {
  text-align:center;
  margin-bottom:30px;
}

.caption {
  background-color:white;
}

.caption-image {
  height:200px;
  width:auto;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:hidden;
  -webkit-transition:opacity 0.3s ease-in;
  -moz-transition:opacity 0.3s ease-in;
  -o-transition:opacity 0.3s ease-in;
  transition:opacity 0.3s ease-in;
  background-color:white;
}

.caption-image:hover {
  opacity:0.7;
}

#caption-image-1 {
  background-image:url(/_img/annualreport/college.jpg);
}

#caption-image-2 {
  background-image:url(/_img/annualreport/creative.jpg);
}

#caption-image-3 {
  background-image:url(/_img/annualreport/sj.jpg);
}

.caption-description {
  height:165px;
  width:auto;
  padding:15px;
}

.caption-description h4 {
  margin:0;
  color:#006f7c;
}

.caption-description p {
  margin:7px 0 0 0;
}

#home-ministries h1 {
  text-align:center;
}

#home-ministries h3 {
  text-align:center;
  color:#B0B0B0;
}

.ministry {
  margin-bottom:30px;
}

.ministry .ministry-image {
  width:200px;
  height:200px;
  margin:0 auto;
  overflow:hidden !important;
  border-radius:50%;
  -webkit-transition:opacity 0.3s ease-in;
  -moz-transition:opacity 0.3s ease-in;
  -o-transition:opacity 0.3s ease-in;
  transition:opacity 0.3s ease-in;
}

.ministry .ministry-image:hover {
  opacity:0.7;
}

#home-events-wrapper {
  background: url(/_img/events-filler-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-100 !important;
  background-color:black;
}

#home-events-wrapper h1, #home-events-wrapper h2, #home-events-wrapper h3, #home-events-wrapper p {
  text-align:center;
}

#home-events, #home-latest {
  background-color:white;
}

#story {
  background: url(/_img/annualreport/closing.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:black;
}

#story p {
  color:white;
}

#values .grid_6 {
  margin-top:40px;
  margin-bottom:40px;
}

#values .grid_6:first-child, #values .grid_6:nth-child(2) {
  margin-top:0;
}

#values .grid_6 img {
  -moz-transition:all 0.4s ease-in;
	-webkit-transition:all 0.4s ease-in;
	-ms-transition:all 0.4s ease-in;
	-o-transition:all 0.4s ease-in;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#values .grid_6:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.span-border {
  border-bottom:4px solid #464646;
  width:30px;
  height:76px;
  display:inline-block;
  -moz-transition:width 0.7s ease-in-out;
  -webkit-transition:width 0.7s ease-in-out;
  -ms-transition:width 0.7s ease-in-out;
  transition:width 0.7s ease-in-out;
}

.span-border:hover {
  width:250px;
}

.span-border-2 {
  border-bottom:4px solid #F3F3F3;
  width:300px;
  height:76px;
  display:inline-block;
}

#theology .grid_12 {
  margin-top:15px;
  margin-bottom:15px;
}

#theology .grid_12:first-child {
  margin-top:0;
}

#theology h1 {
  display:inline-block;
  width:400px;
  color:#464646;
}

#theology p {
  padding-top:10px;
}

.structure-level {
  margin-top:30px;
  margin-bottom:30px;
}

.structure-level:first-child, .structure-level:nth-child(2) {
  margin-top:0;
}

.structure-level h1 {
  -moz-transition:color 0.2s ease-in-out;
  -webkit-transition:color 0.2s ease-in-out;
  -ms-transition:color 0.2s ease-in-out;
  transition:color 0.2s ease-in-out;
}

.structure-level:hover h1 {
  color:#006f7c;
  -moz-transition:color 0.2s ease-in-out;
  -webkit-transition:color 0.2s ease-in-out;
  -ms-transition:color 0.2s ease-in-out;
  transition:color 0.2s ease-in-out;
}

.structure-level .flip {
  -moz-transition:transform 0.4s ease-in-out;
  -webkit-transition:transform 0.4s ease-in-out;
  -ms-transition:transform 0.4s ease-in-out;
  transition:transform 0.4s ease-in;

}

.structure-level:hover .flip {
  -ms-transform:rotateY(360deg);
  -o-transform:rotateY(360deg);
  -webkit-transform:rotateY(360deg);
  -moz-transform:rotateY(360deg);
  transform:rotateY(360deg);
  -moz-transition:transform 0.4s ease-in-out;
  -webkit-transition:transform 0.4s ease-in-out;
  -ms-transition:transform 0.4s ease-in-out;
  transition:transform 0.4s ease-in;
}

#nav_categories > li:nth-child(2) {
  margin-left:10px;
}

#nav_categories > li:nth-child(2) a {
  color:#686868;
  font-size:20px;
}

#team-nav ul {
  background-color:#F3F3F3;
  padding:10px;
  border-left:5px solid #989d00;
}

#team-nav ul ul {
  border:0;
}

#team-nav ul li {
  margin:20px 0;
}

#team-nav ul li a {
  font-size:16px;
  color:#B0B0B0;
  padding:5px 0;
  -o-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  transition:color 0.2s ease-in;
  font-weight:bold;
}

#team-nav ul li a:hover {
  text-decoration:none;
}

#team-nav ul li a i {
  display:none;
}

#team-nav .active {
  color:#686868;
}

.team-member {
  height:425px;
  text-align:center;
  margin-bottom:20px;
}

.team-photo {
  -webkit-transition:border-radius 0.2s ease-in;
  -moz-transition:border-radius 0.2s ease-in;
  -o-transition:border-radius 0.2s ease-in;
  transition:border-radius 0.2s ease-in;
  overflow:hidden;
  height:223px;
}

.team-photo:hover {
  border-radius:50%;
  -webkit-transition:border-radius 0.2s ease-in;
  -moz-transition:border-radius 0.2s ease-in;
  -o-transition:border-radius 0.2s ease-in;
  transition:border-radius 0.2s ease-in;
}

.team-photo img {
  overflow:hidden;
}

.team-member-info .team-photo {
  height:306px;
  border-radius:50%;
}

.team-member-info ul li {
  display:inline;
  margin:0 10px;
}

.team-member-info ul li:first-child {
  margin-left:0;
}

.team-member-info ul li a {
  color:#B0B0B0;
  -webkit-transition:color 0.2s ease-in;
  -moz-transition:color 0.2s ease-in;
  -o-transition:color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

.team-member-info ul li a:hover {
  color:#D5D5D5;
  -webkit-transition:color 0.2s ease-in;
  -moz-transition:color 0.2s ease-in;
  -o-transition:color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

#team-nav ul li:first-child a {
  color:#686868;
  -webkit-transition:color 0.2s ease-in;
  -moz-transition:color 0.2s ease-in;
  -o-transition:color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

#team-nav ul li a:hover {
  color:#686868;
  -o-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

#pastor-clark {
  margin-bottom:50px;
}

#demographic-pastors .team {
  display:none;
}

.location {
  padding:30px 0;
}

#map-wrapper {
  border-top:1px solid white;
}

#map {
  height:350px;
}

#connect .grid_6 {
  height:350px;
}

.connect-entry h2 {
  color:#464646;
  text-align:center;
  margin-top:40px;
}

.connect-entry p {
  text-align:center;
  font-size:15px;
}

.connect-entry-right h2, .connect-entry-right p {
  padding-left:13px;
  padding-right:13px;
}

.connect-entry-left h2, .connect-entry-left p {
  padding-left:13px;
  padding-right:13px;
}

.connect-img {
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:scroll;
  text-align:center;
  background-size:cover;
}

.connect-img .button {
  margin-top:150px;
  color:white;
  border-color:white;
}

.connect-img .button:hover {
  background-color:white;
  color:black;
}

.connect-img-mobile {
  display:none;
}

#connect-small-groups .connect-img {
  background-image: url("/_img/annualreport/lifegroups.jpg");
}

#connect-connections .connect-img {
  background-image: url("/_img/annualreport/serving.jpg");
}

#connect-classes .connect-img {
  background-image: url("/_img/annualreport/equip.jpg");
}

#connect-devos .connect-img {
  background-image: url("/_img/annualreport/attendance.jpg");
}

#connect-interns .connect-img {
  background-image: url("/_img/annualreport/letter.jpg");
}

.connect-img h3 {
  text-transform:uppercase;
  color:white;
  margin-top:190px;
  padding:10px;
}

.group-entry {
  padding:40px 0;
}

.group-filler .button {
  background-color:#989d00;
  border-color:#989d00;
  color:white;
}

.group-filler {
  background-color:#F3F3F3;
  padding:10px 0;
  margin-top:40px;
}

.group-filler strong {
  color:#989d00;
}

#find-a-group, #start-a-group, #group-faqs-benefits {
  padding-bottom:0px;
}

#start-a-group, #connect-your-group, #group-faqs-benefits, #group-resources {
  display:none;
}

#group-faqs-benefits h2 {
  -o-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition:opacity 0.2s ease-in;
  color:#B0B0B0;
}

#group-faqs-benefits h2:hover {
  color:#D5D5D5;
}

#group-faqs-benefits .benefit-entry p, #group-faqs-benefits .faq-entry p {
  display:none;
  padding:1px 0;
}

.connect-your-group-box {
  margin-top:50px;
  height:306px;
  border-radius:50%;
  overflow:hidden;
  text-align:center;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size:auto 100%;
  -webkit-transition: transform 0.15s ease-in;
  -moz-transition: transform 0.15s ease-in;
  -o-transition: transform 0.15s ease-in;
  transition:transform 0.15s ease-in;
}

.connect-your-group-box:hover {
  -webkit-transition: transform 0.15s ease-in;
  -moz-transition: transform 0.15s ease-in;
  -o-transition: transform 0.15s ease-in;
  transition:transform 0.15s ease-in;
  -webkit-transform:scale(0.96,0.96);
  -moz-transform:scale(0.96,0.96);
  -o-transform:scale(0.96,0.96);
  -ms-transform:scale(0.96,0.96);
  transform:scale(0.96,0.96);
}

.connect-your-group-box h2, .connect-your-group-box h1 {
  color:white;
  padding:10px;
  margin-top:95px;
}

#group-events-box {
  /*background: url(/_img/annualreport/accomp.jpg) no-repeat center center scroll;*/
  background-color:#989d00;
}

#group-app-box {
  /*background: url(/_img/annualreport/accomp.jpg) no-repeat center center scroll;*/
  background-color:#006f7c;
}

#group-social-box {
  /*background: url(/_img/annualreport/accomp.jpg) no-repeat center center scroll;*/
  background-color:#2D2D2D;
}

#group-social-box i {
  margin-top:10px;
  margin-left:10px;
  color:white;
}

footer {
  background-color:#2D2D2D;
}

footer #footer-nav {
  margin-top:20px;
}

footer .button, footer .button:hover {
  color:white;
  background-color:#006f7c;
  border-color:#006f7c;
}

footer .social-media {
  margin-top:15px;
}

footer .social-media ul li {
  display:inline;
  margin:0 5px;
}

footer .social-media i {
  color:#686868;
  font-size:30px;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

footer .social-media i:hover {
  color:white;
}

footer #footer-nav h3, footer #footer-nav h4 {
  color:white;
}

footer #footer-nav h3 {
  font-size:16px;
}

footer #footer-nav h4 {
  color:#686868;
  font-weight:500;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition:color 0.2s ease-in;
  font-size:14px;
}

footer #footer-nav h4:hover {
  color:white;
}

footer #footer-nav ul li a:hover {
  text-decoration:none;
}

footer #footer-copyright {
  background-color:#282828;
  padding:15px 0;
  margin-top:10px;
}

footer #footer-copyright p {
  color:white;
  font-size:12px;
  text-align:center;
}

footer #footer-copyright p a {
  color:#006f7c;
}

footer #footer-copyright p a:hover {
  color:#006f7c;
}
