/*
  Site Colors:
    Green:	#989d00
    Blue:	#006f7c
    Dark Blue: #005b66
    Darkest Grey: #282828
    Darker Grey: #2D2D2D
    Dark Grey: #464646
    Grey: #686868
    Light Grey: #B0B0B0
    Lighter Grey: #D5D5D5
    Lightest Grey: #F3F3F3

  Fonts:
    Main: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B';
*/



/* Fonts */
@font-face {
    font-family: 'aleolight';
    src: url('/_font/aleo-light-webfont.eot');
    src: url('/_font/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-light-webfont.woff') format('woff'),
         url('/_font/aleo-light-webfont.ttf') format('truetype'),
         url('/_font/aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleoregular';
    src: url('/_font/aleo-regular-webfont.eot');
    src: url('/_font/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-regular-webfont.woff') format('woff'),
         url('/_font/aleo-regular-webfont.ttf') format('truetype'),
         url('/_font/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleobold';
    src: url('/_font/aleo-bold-webfont.eot');
    src: url('/_font/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-bold-webfont.woff') format('woff'),
         url('/_font/aleo-bold-webfont.ttf') format('truetype'),
         url('/_font/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'SocialGothic';
	src: url('/_font/social-gothic.eot');
	src: url('/_font/social-gothic.eot?#iefix') format('embedded-opentype'),
	     url('/_font/social-gothic.woff') format('woff'),
	     url('/_font/social-gothic.ttf') format('truetype'),
	     url('/_font/social-gothic.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}



/* Global Styling */
body {
  font-family: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B', Arial;
  margin:0;
  padding:0;
}

h1 {
  font-size:2.6em;
  margin-top:0;
}

h2 {
  font-size:2.1em;
}

h3 {
  font-size:1.6em;
}

h1, h4 {
  color:#464646;
}

h2, h5 {
  color:#686868;
  font-weight:200;
}

h3, h6 {
  color:#B0B0B0;
}

p {
  color:#686868;
  font-size:16px;
  line-height:32px;
  font-weight:300;
}

p i {
  color:#686868;
  font-size:20px;
}

a, a:link, a:visited, a:active {
  color:#D5D5D5;
  font-weight:300;
  font-size:16px;
  text-decoration:none;
  -webkit-transition:color 0.3s ease-in;
  -moz-transition:color 0.3s ease-in;
  -o-transition:color 0.3s ease-in;
  transition:color 0.3s ease-in;
}

a:hover {
  color:#B0B0B0;
  -webkit-transition:color 0.3s ease-in;
  -moz-transition:color 0.3s ease-in;
  -o-transition:color 0.3s ease-in;
  transition:color 0.3s ease-in;
}

blockquote {
  margin:70px 0;
  padding:0 50px;
}

blockquote p {
  color:#B0B0B0;
  font-size:25px;
  line-height:40px;
  font-weight:200;
}

ul {
  padding-left:0;
}

ul li {
  color:#686868;
}

strong {
  color:#464646;
}

button {
  font-family: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B', Arial;
  color:white;
  font-size:14px;
  display:inline-block;
  text-align:center;
  padding:14px 18px;
  background-color:#464646;
  font-weight:bold;
  border:none;
  -webkit-transition:opacity 0.3s ease-in;
  -moz-transition:opacity 0.3s ease-in;
  -o-transition:opacity 0.3s ease-in;
  transition:opacity 0.3s ease-in;
  border-radius:4px;
}

button:hover, button:active {
  opacity:0.85;
  -webkit-transition:opacity 0.3s ease-in;
  -moz-transition:opacity 0.3s ease-in;
  -o-transition:opacity 0.3s ease-in;
  transition:opacity 0.3s ease-in;
  cursor:pointer;
}

button:focus {
  outline:0;
}

.transparent-button {
  border:2px solid rgba(255, 255, 255, 0.7);
  border-radius:4px;
  padding:5px 7px;
  -webkit-transition:border-color 0.3s ease-in;
  -moz-transition:border-color 0.3s ease-in;
  -o-transition:border-color 0.3s ease-in;
  transition:border-color 0.3s ease-in;
}

.transparent-button:hover, .transparent-button:active {
  border-color:white;
  -webkit-transition:border-color 0.3s ease-in;
  -moz-transition:border-color 0.3s ease-in;
  -o-transition:border-color 0.3s ease-in;
  transition:border-color 0.3s ease-in;
}

.entry {
  padding:125px 0;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  background-color:black;
}

.bg-img *, .bg-color * {
  color:white;
}

.bg-img h1 {
  font-weight:bold;
}

.bg-img .fa-chevron-right {
  color:#D5D5D5 !important;
}

.circle img {
  border-radius:50%;
}

.inner {
  padding:15px;
}

.thin {
  font-weight:200;
}


/* Header/Nav */
header {
  background-color:transparent;
  border-bottom:1px solid transparent;
  padding:5px 0;
  z-index:100;
  position:relative;
  height:49px;
}

.sticky-header {
  background-color:rgba(255, 255, 255, 0.98);
  border-bottom:1px solid #F3F3F3;
  position:fixed;
  width:100%;
}

.sticky-header #countdown_contain {
  border-color:#686868;
}

.sticky-header #nav-icon i, .sticky-header #countdown_contain .notlive, .sticky-header #countdown_contain .live {
  color:#686868;
}

#header-filler {
  display:none;
  height:60px;
  width:100%;
  position:relative;
}

#logo {
  float:left;
  margin-left:10px;
  margin-top:2px;
  -webkit-transition:opacity 0.2s ease-in;
  -moz-transition:opacity 0.2s ease-in;
  -o-transition:opacity 0.2s ease-in;
  transition:opacity 0.2s ease-in;
}

#logo:hover {
  opacity:0.7;
  -webkit-transition:opacity 0.2s ease-in;
  -moz-transition:opacity 0.2s ease-in;
  -o-transition:opacity 0.2s ease-in;
  transition:opacity 0.2s ease-in;
}

.hide-logo {
  opacity:0 !important;
}

#upper-corner {
  margin-right:12px;
  position:relative;
  float:right;
  min-width:180px;
}

#countdown_contain {
  border-right: 1px solid white;
  margin-right:11px;
  padding-right:15px;
  margin-top:13px;
  float:left;
  opacity:0;
}

#countdown_contain .live a {
  color:white;
  -webkit-transition:opacity 0.2s ease-in;
  -moz-transition:opacity 0.2s ease-in;
  -o-transition:opacity 0.2s ease-in;
  transition:opacity 0.2s ease-in;
}

#countdown_contain .live a:hover {
  text-decoration:none;
  opacity:0.7;
  -webkit-transition:opacity 0.2s ease-in;
  -moz-transition:opacity 0.2s ease-in;
  -o-transition:opacity 0.2s ease-in;
  transition:opacity 0.2s ease-in;
}

#countdown_contain .notlive {
  color:white;
}

#nav-icon {
  float:right;
  font-size:28px;
  padding:5px;
  -webkit-transition:opacity 0.2s ease-in;
  -moz-transition:opacity 0.2s ease-in;
  -o-transition:opacity 0.2s ease-in;
  transition:opacity 0.2s ease-in;
}

#nav-icon:hover {
  opacity:0.7;
  -webkit-transition:opacity 0.2s ease-in;
  -moz-transition:opacity 0.2s ease-in;
  -o-transition:opacity 0.2s ease-in;
  transition:opacity 0.2s ease-in;
}

#nav-icon i {
  color:white;
}

#nav-info {
  font-size:24px;
}

#nav-info ul {
  margin-top:20px !important;
  list-style-type:none;
}

#nav-info ul i {
  float:left;
  margin:0 9px;
  color:#686868;
  -webkit-transition:color 0.3s ease-in;
  -moz-transition:color 0.3s ease-in;
  -o-transition:color 0.3s ease-in;
  transition:color 0.3s ease-in;
}

#nav-info ul i:hover, #nav-info ul i:active {
  color:white;
  -webkit-transition:color 0.3s ease-in;
  -moz-transition:color 0.3s ease-in;
  -o-transition:color 0.3s ease-in;
  transition:color 0.3s ease-in;
}

#nav-info ul i:first-child {
  margin-left:0;
}

#nav-info ul #search-icon {
  float:right;
}

#nav-info ul li {
  display:inline;
}

#nav-info ul li a {
  font-size:24px;
}

#nav-wrapper {
  display:none;
}

#nav-wrapper ul {
  margin:30px 30px 0 30px;
  list-style-type:none;
}

#nav-wrapper ul li h3 {
  color:white;
  font-size:20px;
  margin-top:0;
  font-weight:bold;
  text-transform:uppercase;
  cursor:pointer;
}

#nav-wrapper ul ul {
  display:none;
  overflow:hidden;
  list-style-type:none;
  margin-top:-20px;
  margin-left:15px;
  padding-top:0;
  padding-bottom:10px;
}

#nav-wrapper ul li ul li {
  display:block;
  margin-top:17px;
  margin-bottom:17px;
}

#nav-wrapper ul li ul li a:hover {
  opacity:1;
}

#nav-wrapper ul li ul li a h4 {
  font-size:15px;
}

#nav-wrapper ul li ul li a h4, #nav-wrapper ul li ul li a h4:visited {
  color:#686868;
  display:inline;
  padding:5px 0;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

#nav-wrapper ul li ul li a h4:hover, #nav-wrapper ul li ul li a h4:active {
  color:white;
}

#nav-wrapper ul li ul li a:hover {
  text-decoration:none !important;
}

.gsc-search-button {
  font-weight:normal !important;
  background-color:#006f7c !important;
}

.gsc-search-button, input.gsc-search-button {
  border:0 !important;
}



/* Covers */
#cover {
  background-attachment: scroll !important;
  position:relative;
  margin-top:-60px;
}

.home-cover {
  height:800px;
  background-image: url(/_img/boxes-filler.jpg);
}

.page-cover {
  height:375px;
}

.cover-inner {
  position:absolute;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  left:0;
  right:0;
}

.home-cover .cover-inner {
  top:150px;
}

.home-cover .cover-inner img {
  width:300px;
  -webkit-transition:opacity 0.3s ease-in;
  -moz-transition:opacity 0.3s ease-in;
  -o-transition:opacity 0.3s ease-in;
  transition:opacity 0.3s ease-in;
}

.home-cover .cover-inner img:hover {
  opacity:0.7;
  -webkit-transition:opacity 0.3s ease-in;
  -moz-transition:opacity 0.3s ease-in;
  -o-transition:opacity 0.3s ease-in;
  transition:opacity 0.3s ease-in;
}

.home-cover .cover-inner h2 {
  font-weight:200;
  text-transform:uppercase;
}

.home-cover .cover-inner h2 span {
  font-weight:normal;
}

.page-cover .cover-inner {
  top:125px;
}

.page-cover .cover-inner h1 {
  margin:0;
  font-size:70px;
  color:white;
  -webkit-transition:opacity 0.3s ease-in;
  -moz-transition:opacity 0.3s ease-in;
  -o-transition:opacity 0.3s ease-in;
  transition:opacity 0.3s ease-in;
}

.page-cover .cover-inner h1:hover {
  opacity:0.7;
  -webkit-transition:opacity 0.3s ease-in;
  -moz-transition:opacity 0.3s ease-in;
  -o-transition:opacity 0.3s ease-in;
  transition:opacity 0.3s ease-in;
}

.page-social {
  position:relative;
  text-align:center;
  top:75px;
}

.page-social i {
  opacity:1;
}

.page-social i:hover {
  opacity:0.7 !important;
}

.page-social ul li {
  margin:0 5px;
  display:inline;
}



/* Home */
#who-we-are {
  text-align:center;
  background-color:#464646;
}

#who-we-are h1 {
  color:white;
}

#who-we-are p {
  font-size:18px;
  color:white;
}

#who-we-are strong {
  color:#B0B0B0;
}

#times {
  background-color:#F3F3F3;
  text-align:center;
}

#times h3 {
  color:#464646;
}

#times h3 i {
  margin-bottom:10px;
  position:relative;
  bottom:0;
  -webkit-transition:bottom 0.2s ease-in;
  -moz-transition:bottom 0.2s ease-in;
  -o-transition:bottom 0.2s ease-in;
  transition:bottom 0.2s ease-in;
}

#times h3:hover i {
  bottom:10px;
  -webkit-transition:bottom 0.2s ease-in;
  -moz-transition:bottom 0.2s ease-in;
  -o-transition:bottom 0.2s ease-in;
  transition:bottom 0.2s ease-in;
}

#ministries-home {
  background-image:url("/_img/ministries.jpg");
  text-align:center;
}

#home-events-wrapper {
  background-image: url(/_img/events-filler-2.jpg);
}

#home-events-wrapper h1, #home-events-wrapper h2, #home-events-wrapper h3, #home-events-wrapper p {
  text-align:center;
}

#home-events, #home-latest {
  background-color:white;
}



#story {
  background-image: url(/_img/annualreport/closing.jpg);
}

#story p {
  color:white;
}

#values .grid_6 {
  margin-top:40px;
  margin-bottom:40px;
}

#values .grid_6:first-child, #values .grid_6:nth-child(2) {
  margin-top:0;
}

#values .grid_6 img {
  -moz-transition:all 0.4s ease-in;
	-webkit-transition:all 0.4s ease-in;
	-ms-transition:all 0.4s ease-in;
	-o-transition:all 0.4s ease-in;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#values .grid_6:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

#values h3 {
  color:#989d00;
}

.span-border {
  border-bottom:4px solid #464646;
  width:30px;
  height:86px;
  display:inline-block;
  -moz-transition:width 0.7s ease-in-out;
  -webkit-transition:width 0.7s ease-in-out;
  -ms-transition:width 0.7s ease-in-out;
  transition:width 0.7s ease-in-out;
}

.span-border:hover {
  width:250px;
}

.span-border-2 {
  border-bottom:4px solid #F3F3F3;
  width:300px;
  height:86px;
  display:inline-block;
}

#theology .grid_12 {
  margin-top:15px;
  margin-bottom:15px;
}

#theology .grid_12:first-child {
  margin-top:0;
}

#theology h1 {
  display:inline-block;
  width:400px;
  color:#464646;
}

#theology p {
  padding-top:10px;
}

.structure-level {
  margin-top:30px;
  margin-bottom:30px;
}

.structure-level:first-child, .structure-level:nth-child(2) {
  margin-top:0;
}

.structure-level h1 {
  -moz-transition:color 0.2s ease-in-out;
  -webkit-transition:color 0.2s ease-in-out;
  -ms-transition:color 0.2s ease-in-out;
  transition:color 0.2s ease-in-out;
}

.structure-level:hover h1 {
  color:#006f7c;
  -moz-transition:color 0.2s ease-in-out;
  -webkit-transition:color 0.2s ease-in-out;
  -ms-transition:color 0.2s ease-in-out;
  transition:color 0.2s ease-in-out;
}

.structure-level .flip {
  -moz-transition:transform 0.4s ease-in-out;
  -webkit-transition:transform 0.4s ease-in-out;
  -ms-transition:transform 0.4s ease-in-out;
  transition:transform 0.4s ease-in;

}

.structure-level:hover .flip {
  -ms-transform:rotateY(360deg);
  -o-transform:rotateY(360deg);
  -webkit-transform:rotateY(360deg);
  -moz-transform:rotateY(360deg);
  transform:rotateY(360deg);
  -moz-transition:transform 0.4s ease-in-out;
  -webkit-transition:transform 0.4s ease-in-out;
  -ms-transition:transform 0.4s ease-in-out;
  transition:transform 0.4s ease-in;
}

#nav_categories, #nav_categories ul {
  list-style-type:none;
}

#nav_categories > li:nth-child(2) {
  margin-left:10px;
}

#nav_categories > li:nth-child(2) a {
  color:#686868;
  font-size:20px;
}

#team-nav ul {
  background-color:#F3F3F3;
  padding:10px;
  border-left:5px solid #989d00;
  list-style-type:none;
}

.team {
  text-align:center !important;
}

#team-nav ul ul {
  border:0;
  list-style-type:none;
}

#team-nav ul li {
  margin:20px 0;
}

#team-nav ul li a {
  font-size:16px;
  color:#B0B0B0;
  padding:5px 0;
  -o-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  transition:color 0.2s ease-in;
  font-weight:bold;
}

#team-nav ul li a:hover {
  text-decoration:none;
}

#team-nav ul li a i {
  display:none;
}

#team-nav .active {
  color:#686868;
}

#team-nav ul li:first-child a {
  color:#686868;
  -webkit-transition:color 0.2s ease-in;
  -moz-transition:color 0.2s ease-in;
  -o-transition:color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

#team-nav ul li a:hover {
  color:#686868;
  -o-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

.page-team {
  background-color:#F3F3F3;
}

.team-name h1 {
  text-align:center;
  margin-bottom:40px;
}

.team-member {
  height:425px;
  text-align:center;
  margin-bottom:20px;
}

.team-photo {
  -webkit-transition:border-radius 0.2s ease-in;
  -moz-transition:border-radius 0.2s ease-in;
  -o-transition:border-radius 0.2s ease-in;
  transition:border-radius 0.2s ease-in;
  overflow:hidden;
  height:223px;
}

.team-photo:hover {
  border-radius:50%;
  -webkit-transition:border-radius 0.2s ease-in;
  -moz-transition:border-radius 0.2s ease-in;
  -o-transition:border-radius 0.2s ease-in;
  transition:border-radius 0.2s ease-in;
}

.team-photo img {
  overflow:hidden;
}

.team-member-info .team-photo {
  height:306px;
  border-radius:50%;
}

.team-member-info ul li {
  display:inline;
  margin:0 10px;
}

.team-member-info ul li:first-child {
  margin-left:0;
}

.team-member-info ul li a {
  color:#B0B0B0;
  -webkit-transition:color 0.2s ease-in;
  -moz-transition:color 0.2s ease-in;
  -o-transition:color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

.team-member-info ul li a:hover {
  color:#D5D5D5;
  -webkit-transition:color 0.2s ease-in;
  -moz-transition:color 0.2s ease-in;
  -o-transition:color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

.team-member-info h3 {
  color:#989d00;
}

#pastor-clark {
  margin-bottom:50px;
}

#demographic-pastors .team {
  display:none;
}

.location {
  padding:30px 0;
}

.location h2 {
  color:#989d00;
}

#map-wrapper {
  border-top:1px solid white;
}

#map {
  height:350px;
}

#connect {
  text-align:center;
}

#connect h3 {
  color:#464646;
}

#connect a {
  font-weight:200;
}

#connect a i {
  color:inherit;
}

#connect .grid_6 {
  height:350px;
}

.connect-entry h3 {
  color:#464646;
  margin-top:50px;
}

.connect-entry p {
  font-size:15px;
}

.connect-entry-right h2, .connect-entry-right p {
  padding-left:13px;
  padding-right:13px;
}

.connect-entry-left h2, .connect-entry-left p {
  padding-left:13px;
  padding-right:13px;
}

.connect-img {
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:scroll;
  text-align:center;
  background-size:cover;
}

.connect-img .button {
  margin-top:150px;
  color:white;
  border-color:white;
}

.connect-img .button:hover {
  background-color:white;
  color:black;
}

.connect-img-mobile {
  display:none;
}

#connect-small-groups .connect-img {
  background-image: url("/_img/annualreport/lifegroups.jpg");
}

#connect-connections .connect-img {
  background-image: url("/_img/annualreport/serving.jpg");
}

#connect-classes .connect-img {
  background-image: url("/_img/annualreport/equip.jpg");
}

#connect-devos .connect-img {
  background-image: url("/_img/annualreport/attendance.jpg");
}

#connect-interns .connect-img {
  background-image: url("/_img/annualreport/letter.jpg");
}

.connect-img h3 {
  text-transform:uppercase;
  color:white;
  margin-top:190px;
  padding:10px;
}

#find-a-group, #start-a-group, #connect-your-group {
  text-align:center;
}

#find-a-group {
  background-image: url(/_img/rock.jpeg);
}

#find-a-group .button {
  background-color:#2D2D2D;
  border-color:#2D2D2D;
  color:white;
}

#find-a-group h2, #start-a-group h2, #connect-your-group h2 {
  font-weight:200;
}

#start-a-group .button {
  background-color:#989d00;
  border-color:#989d00;
  color:white;
}

#groups-info {
  text-align:center;
  background-image:url("/_img/sailboat.jpeg");
}

#group-faqs-benefits h2 {
  -o-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  transition:opacity 0.2s ease-in;
  color:#B0B0B0;
}

#group-faqs-benefits h2:hover {
  color:#D5D5D5;
}

#group-faqs-benefits .benefit-entry p, #group-faqs-benefits .faq-entry p {
  display:none;
  padding:1px 0;
}

#group-events {
  text-align:center;
}

#group-events .group-event-entry {
  height:400px;
  background-color:white;
  margin-top:13px;
  margin-bottom:13px;
  border-radius:6px;
  overflow:hidden;
}

#group-events .group-event-entry p {
  margin-top:30px;
}

#group-events .group-event-entry h4 {
  color:#B0B0B0;
  font-weight:normal;
}

#group-events .group-event-entry-title {
  background-color:#2D2D2D;
  padding:15px 0;
  width:100%;
  min-height:50px;
}

#group-events .group-event-entry-title h3 {
  color:white;
  font-weight:200;
  margin:0;
}

#group-events .group-event-entry a {
  color:#D5D5D5;
}

#groups-resources {
  text-align:center;
}

.connections-entry {
  display:none;
  text-align:center;
}

.connections-entry h2 {
  font-weight:300;
}

#about-connections {
  display:block;
}

#about-connections h1 {
  font-weight:300;
  color:#686868;
}

#about-connections h1 span {
  color:#989d00;
  font-weight:bold;
  text-transform:uppercase;
}

#about-connections-video_wrapper {
  margin-top:80px;
  text-align:left !important;
}

#about-connections-info {
  background-image: url(/_img/liberty.jpeg);
}

#about-connections-info h1, #about-connections-info p {
  color:white;
}

#about-connections-info h1 {
  font-weight:bold;
}

#about-connections-info .button {
  background-color:#2D2D2D;
  color:white;
  border-color:#2D2D2D;
}

#connections-get-involved-filler {
  background-image: url(/_img/rock.jpeg);
}

#connections-get-involved-filler p {
  color:white;
}

#classes {
  background-color:#F3F3F3;
}

#classes h1 {
  text-align:center;
}

#classes .class-entry {
  background-color:white;
  text-align:center;
  height:450px;
  overflow:hidden;
  margin-top:13px;
  margin-bottom:13px;
}

#classes .class-entry p {
  font-size:14px;
  text-align:left;
}

#classes .class-entry-cover {
  background-color:#464646;
  width:100%;
  height:100px;
}

#classes .class-entry:nth-child(5n+1) .class-entry-cover {
  background-color:#989d00;
}

#classes .class-entry:nth-child(5n+2) .class-entry-cover {
  background-color:#006f7c;
}

#classes .class-entry:nth-child(5n+3) .class-entry-cover {
  background-color:#B74E26;
}

#classes .class-entry:nth-child(5n+4) .class-entry-cover {
  background-color:#9F1E5C;
}

#classes .class-entry:nth-child(5n+5) .class-entry-cover {
  background-color:#852679;
}

#classes .class-entry-cover h3, #classes .class-entry-cover h4 {
  color:white;
  margin:0;
}

#classes .class-entry-cover h3 {
  padding-top:20px;
}

#classes .class-entry-cover h4 {
  margin-top:5px;
  font-weight:200;
}

#classes .class-entry .inner {
  height:260px;
}

#classes .class-entry .inner p {
  margin:0;
}

#classes .class-entry .class-entry-footer {
  text-align:right;
}

#classes .class-entry .class-entry-footer a {
  padding:10px 15px;
  background-color:#464646;
  color:white !important;
  margin-right:20px;
  transition:padding 0.2s ease-in;
}

#classes .class-entry .class-entry-footer a:hover {
  padding-left:20px;
  padding-right:20px;
  transition:padding 0.2s ease-in;
}

#devos-nav {
  color:#B0B0B0;
}

#devos-text {
  background-color:#2D2D2D;
  color:white;
  text-align:center;
  display:none;
}

#devos-text h4 {
  color:white;
  font-weight:200;
}

#devos-text label {
  font-size:20px;
  color:white;
  font-weight:300;
}

#devos-text input {
  padding:10px;
  font-size:16px;
  font-family:'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B', Arial;
  color:#686868;
}

#devos-text input:focus {
  outline:none;
}

#devos-home h3 {
  margin-top:50px !important;
  color:#989d00;
}

#mobile-devos-nav {
  display:none;
}

#ministries .ministry {
  text-align:center;
}

#ministries .ministry img:hover {
  opacity:0.8;
}

footer button {
  background-color:#006f7c;
  margin-top:20px;
}

footer button:hover  {
  opacity:1;
}

footer .social-media {
  margin-top:15px;
  text-align:right;
}

footer .social-media ul li {
  display:inline;
  margin:0 5px;
}

footer .social-media ul li:first-child {
  margin-left:0;
}

footer .social-media i {
  color:white;
  font-size:25px;
  -webkit-transition:color 0.3s ease-in;
  -moz-transition:color 0.3s ease-in;
  -o-transition:color 0.3s ease-in;
  transition:color 0.3s ease-in;
}

footer .social-media i:hover {
  color:#006f7c;
  -webkit-transition:color 0.3s ease-in;
  -moz-transition:color 0.3s ease-in;
  -o-transition:color 0.3s ease-in;
  transition:color 0.3s ease-in;
}

footer #footer-copyright {
  background-color:#303030;
  padding:15px 0;
  margin-top:10px;
}

footer #footer-copyright p {
  color:white;
  font-size:12px;
  text-align:center;
  margin-top:40px;
}

footer #footer-copyright p a {
  color:#006f7c;
  font-size:12px;
}
