/*
  Site Colors:
    Green:	#989d00
    Blue:	#006f7c
    Dark Grey: #2D2D2D
    Grey: #686868

  Fonts:
    Main: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B';
*/

@font-face {
    font-family: 'aleolight';
    src: url('/_font/aleo-light-webfont.eot');
    src: url('/_font/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-light-webfont.woff') format('woff'),
         url('/_font/aleo-light-webfont.ttf') format('truetype'),
         url('/_font/aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleoregular';
    src: url('/_font/aleo-regular-webfont.eot');
    src: url('/_font/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-regular-webfont.woff') format('woff'),
         url('/_font/aleo-regular-webfont.ttf') format('truetype'),
         url('/_font/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleobold';
    src: url('/_font/aleo-bold-webfont.eot');
    src: url('/_font/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-bold-webfont.woff') format('woff'),
         url('/_font/aleo-bold-webfont.ttf') format('truetype'),
         url('/_font/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'SocialGothic';
	src: url('/_font/social-gothic.eot');
	src: url('/_font/social-gothic.eot?#iefix') format('embedded-opentype'),
	     url('/_font/social-gothic.woff') format('woff'),
	     url('/_font/social-gothic.ttf') format('truetype'),
	     url('/_font/social-gothic.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B';
  margin:0;
  padding:0;
}

h1, h4 {
  color:#2D2D2D;
}

h2, h5 {
  color:#006f7c;
}

h3, h6 {
  color:#989d00;
}

p {
  color:#686868;
  font-size:16px;
}

p i {
  color:#2D2D2D;
  font-size:20px;
}

a, a:link, a:visited, a:active {
  color:#006f7c;
  text-decoration:none;
  font-weight:bold;
}

a:hover, a:active {
  color:#989d00;
}

ul {
  list-style-type:none;
  padding-left:0;
}

.button {
  padding:10px 15px;
  border:3px solid #989d00;
  color:#989d00;
  display:inline-block;
  text-align:center;
  -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  -o-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  transition:color 0.2s ease-in, background-color 0.2s ease-in;
  margin:20px 0;
}

.button:hover {
  background-color:#989d00;
  color:white;
}

.center {
  margin:0 auto;
}

.entry {
  padding:50px 0;
}

#header {
  position:fixed;
  width:100%;
  z-index:100;
  background-color:#2D2D2D;
}

#logo {
  float:left;
  color:white;
  margin:0 0 0 15px;
}

#nav-icon, #search-icon {
  float:right;
  margin:5px 15px 0 0;
  color:white;
  font-size:28px;
}

header {
  background-color:#006f7c;
  padding:7px 0;
  border-bottom: 4px solid #005963;
}

#nav-wrapper {
  display:none;
  padding:45px 0;
}

nav ul .grid_3 {
  height:403px;
}

nav ul li h3 {
  color:white;
  margin-top:0;
  font-weight:bold;
  border-bottom:1px solid white;
}

nav ul ul {
  margin-top:10px;
}

nav ul li ul li {
  display:block;
  margin-top:20px;
  margin-bottom:20px;
}

nav ul li ul li a h4, nav ul li ul li a h4:visited {
  font-weight:normal;
  color:#BFBFBF;
  display:inline;
  padding:5px 0;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

nav ul li ul li a h4:hover, nav ul li ul li a h4:active {
  color:white;
}

nav ul li ul li a:hover {
  text-decoration:none !important;
}

#search {
  padding:15px 0;
  display:none;
}

.gsc-search-button {
  font-weight:normal !important;
  background-color:#006f7c !important;
}

.gsc-search-button, input.gsc-search-button {
  border:0 !important;
}

#cover {
  background: url(/_img/easter.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-100;
  background-color:black;
  height:700px;
}

#cover h1 {
  margin:0;
  font-size:70px;
  text-align:center;
  color:white;
  position:relative;
  top:230px;
  text-transform:uppercase;
  opacity:0;
}

#cover h2 {
  margin:0;
  font-size:20px;
  text-align:center;
  color:white;
  position:relative;
  top:270px;
  opacity:0;
}

#cover .button {
  border-color:white;
  color:white;
  text-transform:uppercase;
}

#cover .button:hover {
  background-color:white;
  color:#2D2D2D;
}

#locations img {
  overflow:hidden !important;
  border-radius:50%;
  width:auto;
  height:306px;
}

#connect {

}

#connect-background {
  background: url(/_img/connect-filler.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-100 !important;
  background-color:black;
  height:500px;
}

#connect-captions {
  position:relative;
  top:-70px;
  margin-top:-360px !important;
}

.caption {
  background-color:white;
}

.caption-image {
  height:200px;
  width:auto;
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment:scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:hidden;
  -webkit-transition:opacity 0.3s ease-in;
  -moz-transition:opacity 0.3s ease-in;
  -o-transition:opacity 0.3s ease-in;
  transition:opacity 0.3s ease-in;
  background-color:white;
}

.caption-image:hover {
  opacity:0.7;
}

#caption-image-1 {
  background-image:url(/_img/annualreport/college.jpg);
}

#caption-image-2 {
  background-image:url(/_img/annualreport/creative.jpg);
}

#caption-image-3 {
  background-image:url(/_img/annualreport/sj.jpg);
}

.caption-description {
  height:130px;
  width:auto;
  padding:15px;
}

.caption-description h4 {
  margin:0;
  color:#006f7c;
}

.caption-description p {
  margin:7px 0 0 0;
}

#ministries {

}

#ministries h3 {
  text-align:center;
  color:#006f7c;
}

#ministries .button {
  color:#006f7c;
  border-color:#006f7c;
}

#ministries .button:hover {
  background-color:#006f7c;
  color:white;
}

.ministry {
  margin-bottom:30px;
}

.ministry .ministry-image {
  width:200px;
  height:200px;
  margin:0 auto;
  overflow:hidden !important;
  border-radius:50%;
  -webkit-transition:opacity 0.3s ease-in;
  -moz-transition:opacity 0.3s ease-in;
  -o-transition:opacity 0.3s ease-in;
  transition:opacity 0.3s ease-in;
}

.ministry .ministry-image:hover {
  opacity:0.7;
}

#events {
  background: url(/_img/events-filler.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-100 !important;
  background-color:black;
  height:500px;
}

footer {
  background-color:#2D2D2D;
}

footer #footer-nav {
  margin-top:20px;
}

footer .button, footer .button:hover {
  color:white;
  background-color:#006f7c;
  border-color:#006f7c;
}

footer .social-media {
  margin-top:15px;
}

footer .social-media ul li {
  display:inline;
  margin:0 5px;
}

footer .social-media i {
  color:#BFBFBF;
  font-size:30px;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

footer .social-media i:hover {
  color:white;
}

footer #footer-nav h3, footer #footer-nav h4 {
  color:white;
  font-size:14px;
}

footer #footer-nav h4 {
  color:#BFBFBF;
  font-weight:normal;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition:color 0.2s ease-in;
}

footer #footer-nav h4:hover {
  color:white;
}

footer #footer-copyright {
  background-color:#282828;
  padding:15px 0;
  margin-top:10px;
}

footer #footer-copyright p {
  color:white;
  font-size:12px;
  text-align:center;
}

footer #footer-copyright p a:hover {
  color:#006f7c;
}
