.button {
  background-color:#989d00;
  color:white !important;
}

nav ul li h3 {
  font-size:16px;
}

#cover h1 {
  font-size:60px;
}

#home-locations img {
  height:240px;
}

#home-ministries .button {
  background-color:#006f7c;
}

.team-member {
  height:350px;
}

.team-photo {
  height:176px;
  border-radius:50%;
}

.team-member-info .team-photo {
  height:240px;
}

.connect-img h3 {
  background-color:white;
  color:black;
}

.group-filler .button {
  margin-top:20px;
}

footer .social-media i {
  color:white;
  font-size:23px;
}

footer .button {
  font-size:14px;
}
