/* Global */
.bg-img {
  background-attachment: scroll;
}


/* Header/Nav */
nav ul li h3 {
  font-size:16px;
}


/* Covers */
.page-social i {
  opacity:1 !important;
}


/* Team */
.team-member {
  height:375px;
}

.team-photo {
  height:176px;
}

.team-member-info .team-photo {
  height:240px;
}

.team-member p {
  font-size:13px;
}


/* Connect */
.connect-entry p {
  font-size:14px;
}

#group-events .group-event-entry-title h3 {
  font-size: 1em;
}

#group-events .group-event-entry p, #group-events .group-event-entry h4 {
  font-size:0.9em;
}

#classes .class-entry {
  height:500px;
}

#classes .class-entry .inner {
  height:310px;
}

footer .social-media i {
  color:white;
  font-size:23px;
}

footer .button {
  font-size:14px;
}
