{embed="_includes/header" title="{if segment_2}{exp:channel:entries channel='groups' dynamic='yes'}{title}{/exp:channel:entries}{if:else}Life groups{/if}"}

<script src="/_js/parallax.js-1.3.1/parallax.js"></script>

<link rel="stylesheet" type="text/css" href="/_css/layerslider.css" />

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<div id="groups_cover_photo"></div>

<div class="container clearfix">

	{!-- Find A Group Tab --}
	<a href="#groups_tab_1">
		<div id="groups_tab_1" class="grid_4 push_1">
			<h3>Find a group</h3>
		</div>
	</a>


	{!-- Start A Group Tab --}
	<a href="#groups_tab_1">
		<div id="groups_tab_2" class="grid_4 push_1">
			<h3>Start a group</h3>
		</div>
	</a>


	{!-- Connect Your Group Tab --}
	<a href="#groups_tab_1">
		<div id="groups_tab_3" class="grid_4 push_1">
			<h3>Connect Your group</h3>
		</div>
	</a>

	<div class="clear"></div>


	{!-- Find A Group Info --}
	{exp:channel:entries channel="Pages" url_title="find-a-group"}
	<div id="find_a_group" class="grid_12">
		<h2>{title}</h2>
		<p>{page-body}</p>
		<a href="https://journeydreamteam.wufoo.com/forms/i-need-help-finding-a-group/" target="_blank"><div id="need_help_button">I Need Help</div></a>
		<a href="https://secure.accessacs.com/access/login_guest.aspx?sn=106649&sc=sgguest" target="_blank"><div id="browse_groups_button">Browse groups</div></a>
	</div>
	{/exp:channel:entries}

	<div class="clear"></div>


	{!-- Start A Group Info --}
	{exp:channel:entries channel="Pages" url_title="start-a-group"}
	<div id="start_a_group" class="grid_12">
		<h2>{title}</h2>
		<p>{page-body}</p>

		{!-- Wufoo Form for Starting A Group --}
		<div id="groups_form">
			<a href="#wufoo-p7x3x5"><div id="start_a_group_button" class="grid_2">Start A Group</div></a>
			<a href="#groups_tab_1"><div class="start_a_group_close grid_2"><i class="fa fa-times fa-2x"></i></div></a>
			<div class="grid_12 alpha omega">
				<div id="wufoo-p7x3x5"></div>
			</div>
			<a href="#groups_tab_1"><div class="start_a_group_close grid_2"><i class="fa fa-chevron-up fa-2x"></i></div></a>
		</div>
	</div>
	{/exp:channel:entries}

	{!-- Wufoo Form Stuff --}
	<script type="text/javascript">var p7x3x5;(function(d, t) {
	var s = d.createElement(t), options = {
	'userName':'journeydreamteam',
	'formHash':'p7x3x5',
	'autoResize':true,
	'height':'1483',
	'async':true,
	'header':'show',
	'ssl':true};
	s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
	s.onload = s.onreadystatechange = function() {
	var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
	try { p7x3x5 = new WufooForm();p7x3x5.initialize(options);p7x3x5.display(); } catch (e) {}};
	var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
	})(document, 'script');</script>

	<div class="clear"></div>


	{!-- Connect Your Group Info --}
	{exp:channel:entries channel="pages" url_title="connect-your-group"}
	<div id="connect_your_group" class="grid_12">
		<h2>{title}</h2>
		<p>{page-body}</p>
	{/exp:channel:entries}
		<a href="#groups_expand"><div class="expand_down_button grid_3 alpha"><h4>Connect Your Group</h4> <i class="fa fa-chevron-down fa-2x"></i></div></a>
		<div class="clear"></div>

		<a href="#groups_tab_1"><div class="expand_up_button grid_2 alpha"><i class="fa fa-times fa-2x"></i></div></a>
		<div class="clear"></div>

		{!-- Expandable Group Connection Content --}
		<div id="groups_expand">

			{!-- Group Events --}
			<div id="groups_events">
			<h2>Upcoming Life Group Events</h2>
				{exp:channel:entries channel="group_events" limit="15" orderby="group_event_date"}
				<div id="groups_events_entry">
					<div id="groups_events_title" class="grid_8 alpha"><h3>{title}</h3></div>
					<div id="groups_events_date" class="grid_3 omega"><h3>{group_event_date format="%D, %F %d"}</h3></div>
					<div class="clear"></div>

					<div class="grid_3 alpha"><h4><span>Time:</span> {group_event_time}</h4></div>
					<div class="grid_3 alpha"><h4><span>Where:</span> {group_event_location}</h4></div>
					<div class="grid_3 alpha"><h4><span>Contact:</span> {group_event_contact}<br><br>{if group_event_contact_email != ""}Email: <br><a href="mailto:{group_event_contact_email}" style="color:white !important; word-wrap:break-word !important;">{group_event_contact_email}</a><br><br>{/if}{if group_event_contact_phone_number != ""}Phone Number: <br>{group_event_contact_phone_number}{/if}</h4></div>
					<div class="grid_3 alpha"><h4><span>Who:</span> {group_event_who}</h4></div>
					<br class="clear"><br>

					<p><span>Description:</span> {group_event_description}</p><br>
					<p>{if group_event_directions != ""}<span>Directions:</span> {group_event_directions}{/if}</p>
				</div>
				{/exp:channel:entries}
				<div class="clear"></div>

				<a href="#groups_tab_1"><div class="expand_up_button grid_2 alpha"><i class="fa fa-chevron-up fa-2x"></i></div></a>
			</div>
		</div>
	</div>
</div>

<div class="clear"></div>


{!-- Groups Footer --}
<div class="container clearfix">
	<div id="groups_footer">
		<div id="groups_logo" class="grid_3 alpha">
			<a href="/groups"><img src="/_img/lifegroups.png"></a>
		</div>

		<div id="groups_links" class="grid_9 omega">
			<ul>
				<li><a href="https://secure.accessacs.com/access/login_guest.aspx?sn=106649&sc=sgguest" target="_blank">Browse Groups</a></li>
				<li><a id="groups_become_leader_link" href="#wufoo-p7x3x5">Become a Leader</a></li>
				<li><a id="groups_faq_link" href="#groups_footer">FAQ &amp; Benefits</a></li>
				<li><a id="groups_resources_link" href="#groups_footer">Resources</a></li><br>
				<li><h3>Get Connected With Life Groups On</h3> <a href="https://www.facebook.com/journeychurchtv">Facebook</a>  <h3>and</h3>  <a href="https://twitter.com/lifegroupsjc">Twitter!</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

	<a href="#group_tab_1"><div id="footer_expand_up_button_1" class="footer_expand_up_button grid_2 alpha" style="background-color:#006f7c;"><i class="fa fa-times fa-2x"></i></div></a>

	<div class="clear"></div>

	<div id="groups_footer_content">
		<div id="groups_faq" class="grid_12 marg-b-40">
			<div id="accordion">
				<h2>FAQ</h2>
				{exp:channel:entries channel="FAQ" category="24" orderby="date" sort="asc"}
					<h3><span class="accordion-title">{title}</span> <span class="fa fa-plus pull-right" style="padding-right:10px"></span></h3>
					<div>
						{faq-body}
					</div>
				{/exp:channel:entries}
			</div>
			<br>
			<div id="accordion2">
				<h2>Benefits</h2>
				{exp:channel:entries channel="FAQ" category="25" orderby="date" sort="asc"}
					<h3><span class="accordion-title">{title}</span> <span class="fa fa-plus pull-right" style="padding-right:10px"></span></h3>
					<div>
						{faq-body}
					</div>
				{/exp:channel:entries}
			</div>
		</div>

		<div class="clear"></div>

		<div id="groups_resources">
			<div class="grid_12">
				<h2>Resources</h2>
				<div class="grid_12 alpha omega">
					<div id="layerslider-container">
						<div id="layerslider" style="width:966px;height:300px;margin-bottom:40px">
							<div class="ls-layer" style="slidedirection: top; slidedelay: 8000; delayout: 300;">
								<img class="ls-s3 si" src="/_img/do_hard_things.jpg" style="slidedirection : left; slideoutdirection : right; durationin : 900; durationout : 900; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:300; delayout:0;">
								<a href="http://www.amazon.com/Do-Hard-Things-Rebellion-Expectations/dp/1601421125" class="ls-link"></a>
							</div>

							<div class="ls-layer" style="slidedirection: top; slidedelay: 8000; delayout: 300;">
								<img class="ls-s3 si" src="/_img/sun-stand-still.jpg" style="slidedirection : left; slideoutdirection : right; durationin : 900; durationout : 900; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:300; delayout:0;">
								<a href="http://www.amazon.com/Sun-Stand-Still-Happens-Impossible/dp/1601423225" class="ls-link"></a>
							</div>

							<div class="ls-layer" style="slidedirection: top; slidedelay: 8000; delayout: 300;">
								<img class="ls-s3 si" src="/_img/Speed-of-Trust.jpg" style="slidedirection : left; slideoutdirection : right; durationin : 900; durationout : 900; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:300; delayout:0;">
								<a href="http://www.amazon.com/The-SPEED-Trust-Changes-Everything-ebook/dp/B000MGATWG" class="ls-link"></a>
							</div>

							<div class="ls-layer" style="slidedirection: top; slidedelay: 8000; delayout: 300;">
								<img class="ls-s3 si" src="/_img/the_circle_maker.jpg" style="slidedirection : left; slideoutdirection : right; durationin : 900; durationout : 900; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:300; delayout:0;">
								<a href="http://www.amazon.com/The-Circle-Maker-Praying-Greatest/dp/1491511370" class="ls-link"></a>
							</div>

							<div class="ls-layer" style="slidedirection: top; slidedelay: 8000; delayout: 300;">
								<img class="ls-s3 si" src="/_img/chase-the-lion.jpg" style="slidedirection : left; slideoutdirection : right; durationin : 900; durationout : 900; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:300; delayout:0;">
								<a href="http://www.amazon.com/Pit-Lion-Snowy-Day-Opportunity/dp/1590527151" class="ls-link"></a>
							</div>
						</div>
					</div>
					<script src="/_js/layerslider.js"type="text/javascript"></script>
					<script src="/_js/layerslider.transitions.js"type="text/javascript"></script>
					<script type="text/javascript">
						$(document).ready(function(){

							var width = $('html').width();

							var autoStartvalue = true;

							$('#groups_resources_link').click(function() {
								if (width <= 768) {
									autoStartvalue = false;
								}

								$('#layerslider').layerSlider({
									skinsPath : '/themes/assets/',
									skin : 'fullwidth',
									autoStart : autoStartvalue,
									navStartStop : false,
									responsive : true,
									responsiveUnder : 0,
									sublayerContainer : 966,
									hoverPrevNext : false,
									thumbnailNavigation : false,
									showCircleTimer: false,
									touchnav: true,
								});
							})
						});
					</script>
				</div>

				<div class="clear"></div>

				{exp:channel:entries channel="pages" url_title="life-group-resources"}
					{page-body}
				{/exp:channel:entries}
			</div>
		</div>
	</div>

	<div class="clear"></div>

	<a href="#group_tab_1"><div id="footer_expand_up_button_2" class="footer_expand_up_button grid_2 alpha" style="background-color:#006f7c;"><i class="fa fa-chevron-up fa-2x"></i></div></a>

</div>

<script>
$(function() {
 $("#accordion").accordion({ header: "h3", active: false, collapsible: true, heightStyle: "content" });
 $("#accordion2").accordion({ header: "h3", active: false, collapsible: true, heightStyle: "content" });
});
</script>

<script>
	$(document).ready(function() {


		/* Parallax Cover Photo */
		$('#groups_cover_photo').parallax({imageSrc: '/_img/Awakening.jpg'});


		/* Find A Group Fun Stuff */
		$('#groups_tab_1').click(function() {
			$('#find_a_group').css('display', 'inline');
			$('#start_a_group').css('display', 'none');
			$('#connect_your_group').css('display', 'none');
			$('#groups_tab_1 h3').css('color', '#006f7c');
			$('#groups_tab_2 h3').css('color', 'black');
			$('#groups_tab_3 h3').css('color', 'black');
		});


		/* Start A Group Fun Stuff */
		$('#groups_tab_2').click(function() {
			$('#find_a_group').css('display', 'none');
			$('#start_a_group').css('display', 'inline');
			$('#connect_your_group').css('display', 'none');
			$('#groups_tab_2 h3').css('color', '#7f3e19');
			$('#groups_tab_1 h3').css('color', 'black');
			$('#groups_tab_3 h3').css('color', 'black');
			$('#wufoo-p7x3x5').slideUp('slow');
			$('.start_a_group_close').css('display', 'none');
			$('#start_a_group_button').fadeIn();
		});

		$('#start_a_group_button').click(function() {
			$('#wufoo-p7x3x5').slideDown('slow');
			$('#start_a_group_button').css('display', 'none');
			$('.start_a_group_close').fadeIn();
		});

		$('.start_a_group_close').click(function() {
			$('#wufoo-p7x3x5').slideUp('slow');
			$('.start_a_group_close').css('display', 'none');
			$('#start_a_group_button').fadeIn();
		});


		/* Connect Your Group Fun Stuff */
		$('#groups_tab_3').click(function() {
			$('#find_a_group').css('display', 'none');
			$('#start_a_group').css('display', 'none');
			$('#connect_your_group').css('display', 'block');
			$('#groups_tab_3 h3').css('color', '#989d00');
			$('#groups_tab_1 h3').css('color', 'black');
			$('#groups_tab_2 h3').css('color', 'black');
			$('.expand_down_button').fadeIn();
			$('.expand_up_button').css('display', 'none');
			$('#groups_expand').slideUp('slow');
		});

		$('.expand_down_button').click(function() {
			$('.expand_down_button').css('display', 'none');
			$('.expand_up_button').fadeIn();
			$('#groups_expand').slideDown('slow');
		});

		$('.expand_up_button').click(function() {
			$('.expand_down_button').fadeIn();
			$('.expand_up_button').css('display', 'none');
			$('#groups_expand').slideUp('slow');
		});


		/* Groups Footer Fun Stuff */
		$('#groups_faq_link').click(function() {
			$('#groups_resources').css('display', 'none');
			$('#groups_faq').fadeIn();
			$('.footer_expand_up_button').fadeIn();
			$('#groups_footer_content').slideDown('slow');
		});

		$('#groups_resources_link').click(function() {
			$('#groups_faq').css('display', 'none');
			$('#groups_resources').fadeIn();
			$('.footer_expand_up_button').fadeIn();
			$('#groups_footer_content').slideDown('slow');
		});

		$('#groups_become_leader_link').click(function() {
			$('#groups_faq').css('display', 'none');
			$('#groups_resources').css('display', 'none');
			$('#find_a_group').css('display', 'none');
			$('#start_a_group').css('display', 'inline');
			$('#connect_your_group').css('display', 'none');
			$('#groups_tab_2 h3').css('color', '#7f3e19');
			$('#groups_tab_1 h3').css('color', 'black');
			$('#groups_tab_3 h3').css('color', 'black');
			$('#wufoo-p7x3x5').slideDown('slow');
			$('#start_a_group_button').css('display', 'none');
			$('.start_a_group_close').fadeIn();
			$('.footer_expand_up_button').css('display', 'none');
			$('#groups_footer_content').slideUp('slow');
		});

		$('.footer_expand_up_button').click(function() {
			$('.footer_expand_up_button').css('display', 'none');
			$('#groups_footer_content').slideUp('slow');
		});
	});
</script>

{embed="_includes/footer"}
