{exp:channel:entries channel="Pages" url_title="{embed:url-title}"}

  <div id="cover" class="page-cover bg-img">
    <div class="cover-inner">
      <div class="container">
        <div class="grid_8 push_2">
          <h1>{title}</h1>

          {!--}<div id="page-social">
            <ul>
              {if page-facebook != ""}<li><a href="{page-facebook}"><i class="fa fa-facebook fa-2x"></i></a></li>{/if}
              {if page-twitter != ""}<li><a href="{page-twitter}"><i class="fa fa-twitter fa-2x"></i></a></li>{/if}
              {if page-instagram != ""}<li><a href="{page-instagram}"><i class="fa fa-instagram fa-2x"></i></a></li>{/if}
            </ul>
          </div>{--}
        </div>

        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  {if page-body != ""}
    <div class="entry">
      <div class="container">
        <div class="grid_12">
          {page-body}
        </div>
      </div>

      <div class="clear"></div>
    </div>
  {/if}

  <script>
    $(document).ready(function() {
      $('#cover').css('background-image', 'url(/_img/{page-cover-photo})');
    });
  </script>
{/exp:channel:entries}
